<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Game91.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GameAppStore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>GameEfun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>GameEfunTri.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>GameEntermate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>GameGNetop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>GameGNetopAuto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>GameGNetopNormal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>GameGNetopSBank.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>GameGNetopSpecial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>GameR2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>GameRyuk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>GameRyukNew.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>GameYouai.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1732605E1A67E53F00805FC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17CD7F361A6510DC001C1DED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223661C21A514B330076CE37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>762FBED61CEC53DA00FF0999</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>979ED7121DF123BA003CCCC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2287D351AA4538500A48751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2D913A51AB1B6E500A13C88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2EC6F4B1AB98A9600AE8C3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2F0CAB91AA87A64002458A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2F0CBB51AA87D51002458A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF8ED59417DD865300E9E836</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFB9AE6617EFDF3A0024D06C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFFC4BC216D230D3001F65C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0644ABB1C44E85D000CC224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
