<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GameEfun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>GameEntermate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>GameGNetop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>GameGNetopAuto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>GameR2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>GameRyuk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>GameRyukNew.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1732605E1A67E53F00805FC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223661C21A514B330076CE37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>762FBED61CEC53DA00FF0999</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>979ED7121DF123BA003CCCC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2287D351AA4538500A48751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2EC6F4B1AB98A9600AE8C3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0644ABB1C44E85D000CC224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
