<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Game91.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GameAppStore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GameEfun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>GameEfunTri.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>GameEntermate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>GameGNetop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>GameGNetopAuto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>GameGNetopNormal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>GameGNetopSBank.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>GameGNetopSpecial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>GameR2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>GameRyuk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>GameRyukNew.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>GameYouai.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1732605E1A67E53F00805FC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17CD7F361A6510DC001C1DED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>221492C2183A43DB0023D1E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223661C21A514B330076CE37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22B41D87183321F9008F7A3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22BE49AD17A69AB8000A45EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22FD72D9181BCA1B002A7022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5558AB7B178C36A700BEC444</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55EF4343179514C3003D540C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>762FBED61CEC53DA00FF0999</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>979ED7121DF123BA003CCCC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF00F51417ED8C0C00375E4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF0CBDDD18057F020009402E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF20EB81183227BE00F431C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF3992F717EDCCE100E7D464</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF39948917EDD43200E7D464</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF39961B17EDD82300E7D464</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF580135185B10CE00FA66A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF58FF86185B096700FA66A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF5B981017E41C4B00B2480E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF5B9BB717E41F4D00B2480E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF6065CB183B11D5005761AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF7309B41853387A002FF607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF7A406817ED8DDA00282434</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF7B9BB71858917C0029CAC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2287D351AA4538500A48751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2D913A51AB1B6E500A13C88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2EC6F4B1AB98A9600AE8C3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2F0CAB91AA87A64002458A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2F0CBB51AA87D51002458A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5311D5619A78F6500CBE153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B55BF91C19A667EF00875E47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5BF536119A7745E00C994DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF8ED59417DD865300E9E836</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFB9AE6617EFDF3A0024D06C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFFC4BC216D230D3001F65C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0644ABB1C44E85D000CC224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7B62F55184D883400434B0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
