<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lib91.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>lib91Debug.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>libAppStore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>libEfun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>libEfunTW.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>libEntermate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>libGNetop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>libGNetopSBank.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>libGNetopSpecial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>libItools.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>libR2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>libag.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>libpp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>libtb.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17A0DDCB1B0AEC0900E372B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17CCB77B1A67F4BC00EFC428</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17CD82BD1A651EBB001C1DED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>221492B6183A43A10023D1E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22214FBD17ACFEB400B09A47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22214FC917ACFEFD00B09A47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22214FD517ACFF1800B09A47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223661B61A514AED0076CE37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>224A1BCB183E103D00B0C24B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22B41D7B183321A8008F7A3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22FD7257181B652C002A7022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22FD729F181BA59B002A7022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4607420D197919C200A08487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4607421919791A1200A08487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4624935019A6360200D22D78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46596DB31A14CC38008936F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46D22F8E19A775390026E791</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46D4E312197CE9A6002BE130</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55DEFD0816D7776F00E75F8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF08DF44188E2719006BE0FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF0CBA1918053BD80009402E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF5B97E717E41A3D00B2480E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF5B97FD17E41B4800B2480E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF6065B9183B0E9E005761AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2287E281AA4552300A48751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2D912951AB1AED700A13C88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2EC70251AB98E3300AE8C3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF97250E17C1B87C000DBA89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7B62F42184D819300434B0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
