<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>good0</key>
	<dict>
		<key>localizedTitle</key>
		<string>月卡</string>
		<key>productIdentifier</key>
		<string>tw.mdol.5usd.mc</string>
		<key>price</key>
		<string>$4.99</string>
		<key>GameCurrencyCount</key>
		<string></string>
	</dict>
	<key>good1</key>
	<dict>
		<key>localizedTitle</key>
		<string>一小包鑽石</string>
		<key>productIdentifier</key>
		<string>tw.mdol.1usd</string>
		<key>price</key>
		<string>$0.99</string>
		<key>GameCurrencyCount</key>
		<string>64</string>
	</dict>
	<key>good2</key>
	<dict>
		<key>localizedTitle</key>
		<string>一大包鑽石</string>
		<key>productIdentifier</key>
		<string>tw.mdol.4usd</string>
		<key>price</key>
		<string>$3.99</string>
		<key>GameCurrencyCount</key>
		<string>256</string>
	</dict>
	<key>good3</key>
	<dict>
		<key>localizedTitle</key>
		<string>一小袋鑽石</string>
		<key>productIdentifier</key>
		<string>tw.mdol.10usd</string>
		<key>price</key>
		<string>$9.99</string>
		<key>GameCurrencyCount</key>
		<string>640</string>
	</dict>
	<key>good4</key>
	<dict>
		<key>localizedTitle</key>
		<string>一大袋鑽石</string>
		<key>productIdentifier</key>
		<string>tw.mdol.20usd</string>
		<key>price</key>
		<string>$19.99</string>
		<key>GameCurrencyCount</key>
		<string>1280</string>
	</dict>
	<key>good5</key>
	<dict>
		<key>localizedTitle</key>
		<string>一小箱鑽石</string>
		<key>productIdentifier</key>
		<string>tw.mdol.60usd</string>
		<key>price</key>
		<string>$59.99</string>
		<key>GameCurrencyCount</key>
		<string>3840</string>
	</dict>
	<key>good6</key>
	<dict>
		<key>localizedTitle</key>
		<string>一大箱鑽石</string>
		<key>productIdentifier</key>
		<string>tw.mdol.100usd</string>
		<key>price</key>
		<string>$99.99</string>
		<key>GameCurrencyCount</key>
		<string>6400</string>
	</dict>
</dict>
</plist>
