<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>C:\HoH_client\client02_new\Resource_bc\Game.exe</StartProgram>
    <StartArguments>ShowFps WinSize 720 1280 Scale 0.6f</StartArguments>
    <StartWorkingDirectory>C:\HoH_client\client02_new\Resource_bc</StartWorkingDirectory>
  </propertyGroup>
</Project>