<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>plugInGroups</key>
	<array>
		<dict>
			<key>groupName</key>
			<string>节点(Node)</string>
			<key>plugIns</key>
			<array>
				<string>CCNode</string>
				<string>CCBClippingNode</string>
			</array>
		</dict>
		<dict>
			<key>groupName</key>
			<string>层(Layer)</string>
			<key>plugIns</key>
			<array>
				<string>CCLayer</string>
				<string>CCLayerColor</string>
				<string>CCLayerGradient</string>
				<string>CCScrollView</string>
			</array>
		</dict>
		<dict>
			<key>groupName</key>
			<string>精灵(Sprite)</string>
			<key>plugIns</key>
			<array>
				<string>CCSprite</string>
				<string>CCScale9Sprite</string>
			</array>
		</dict>
		<dict>
			<key>groupName</key>
			<string>标签(Label)</string>
			<key>plugIns</key>
			<array>
				<string>CCLabelTTF</string>
				<string>CCLabelBMFont</string>
			</array>
		</dict>
		<dict>
			<key>groupName</key>
			<string>菜单按钮(Menu)</string>
			<key>plugIns</key>
			<array>
				<string>CCMenu</string>
				<string>CCMenuItemImage</string>
				<string>CCMenuCCBFile</string>
			</array>
		</dict>
		<dict>
			<key>groupName</key>
			<string>按钮(Control)</string>
			<key>plugIns</key>
			<array>
				<string>CCControlButton</string>
			</array>
		</dict>
		<dict>
			<key>groupName</key>
			<string>粒子(FX)</string>
			<key>plugIns</key>
			<array>
				<string>CCParticleSystemQuad</string>
			</array>
		</dict>
		<dict>
			<key>groupName</key>
			<string>引用(CCB)</string>
			<key>plugIns</key>
			<array>
				<string>CCBFile</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
