<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Album_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1600}</string>
                <key>spriteSourceSize</key>
                <string>{720,1600}</string>
                <key>textureRect</key>
                <string>{{1083,1},{720,1600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_bg03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1920}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1,1},{1080,1920}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SecretMessageChat_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,175}</string>
                <key>spriteSourceSize</key>
                <string>{720,175}</string>
                <key>textureRect</key>
                <string>{{1083,1603},{720,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SecretMessageChat_bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,161}</string>
                <key>spriteSourceSize</key>
                <string>{720,161}</string>
                <key>textureRect</key>
                <string>{{1083,1780},{720,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Album1.png</string>
            <key>size</key>
            <string>{1804,1942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68de8fe193a1ece01ffaede7f5e3b7a4:ed2b843005f0ce7bb80c6d0e54166c91:4f6c70a51c462718b1a3028d1da38dca$</string>
            <key>textureFileName</key>
            <string>Album1.png</string>
        </dict>
    </dict>
</plist>
