<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CalendarN_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{980,211},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CalendarN_icon_On.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{942,238},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CalendarP_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{976,245},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CalendarP_icon_On.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{942,272},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DayLogin30_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,7}</string>
                <key>spriteSourceSize</key>
                <string>{13,7}</string>
                <key>textureRect</key>
                <string>{{999,1},{13,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DayLogin30_image_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,25}</string>
                <key>spriteSourceSize</key>
                <string>{36,25}</string>
                <key>textureRect</key>
                <string>{{942,211},{36,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DayLogin30_image_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{801,1023},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DayLogin30_image_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,131}</string>
                <key>spriteSourceSize</key>
                <string>{142,131}</string>
                <key>textureRect</key>
                <string>{{686,673},{142,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DayLogin30_image_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,627}</string>
                <key>spriteSourceSize</key>
                <string>{720,627}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,627}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DayLogin30_image_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,159}</string>
                <key>spriteSourceSize</key>
                <string>{133,159}</string>
                <key>textureRect</key>
                <string>{{686,806},{133,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DayLogin30_image_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,154}</string>
                <key>spriteSourceSize</key>
                <string>{127,154}</string>
                <key>textureRect</key>
                <string>{{821,835},{127,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DayLogin30_image_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{888,991},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DayLogin30_image_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,30}</string>
                <key>spriteSourceSize</key>
                <string>{85,30}</string>
                <key>textureRect</key>
                <string>{{801,991},{85,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DayLogin30_image_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,409}</string>
                <key>spriteSourceSize</key>
                <string>{683,409}</string>
                <key>textureRect</key>
                <string>{{1,1141},{683,409}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DayLogin30_image_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,15}</string>
                <key>spriteSourceSize</key>
                <string>{401,15}</string>
                <key>textureRect</key>
                <string>{{611,1552},{401,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DayLogin30_image_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{399,14}</string>
                <key>spriteSourceSize</key>
                <string>{399,14}</string>
                <key>textureRect</key>
                <string>{{611,1569},{399,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DayLogin30_image_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,113}</string>
                <key>spriteSourceSize</key>
                <string>{113,113}</string>
                <key>textureRect</key>
                <string>{{686,967},{113,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DayLogin30_image_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{608,147}</string>
                <key>spriteSourceSize</key>
                <string>{608,147}</string>
                <key>textureRect</key>
                <string>{{1,1552},{608,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DayLogin30_treasurebox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,45}</string>
                <key>spriteSourceSize</key>
                <string>{55,45}</string>
                <key>textureRect</key>
                <string>{{942,117},{55,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DayLogin30_treasurebox2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,45}</string>
                <key>spriteSourceSize</key>
                <string>{55,45}</string>
                <key>textureRect</key>
                <string>{{942,164},{55,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DayLogin30_treasurebox2_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{55,58}</string>
                <key>textureRect</key>
                <string>{{942,1},{55,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DayLogin30_treasurebox_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{55,58}</string>
                <key>textureRect</key>
                <string>{{942,59},{55,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Login8Days_Img01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,509}</string>
                <key>spriteSourceSize</key>
                <string>{683,509}</string>
                <key>textureRect</key>
                <string>{{1,630},{683,509}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mission_Assignment_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,110}</string>
                <key>spriteSourceSize</key>
                <string>{217,110}</string>
                <key>textureRect</key>
                <string>{{723,1},{217,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mission_Assignment_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,110}</string>
                <key>spriteSourceSize</key>
                <string>{217,110}</string>
                <key>textureRect</key>
                <string>{{723,113},{217,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mission_Daily_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,110}</string>
                <key>spriteSourceSize</key>
                <string>{217,110}</string>
                <key>textureRect</key>
                <string>{{723,225},{217,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mission_Daily_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,110}</string>
                <key>spriteSourceSize</key>
                <string>{217,110}</string>
                <key>textureRect</key>
                <string>{{723,337},{217,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mission_Weekly_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,110}</string>
                <key>spriteSourceSize</key>
                <string>{217,110}</string>
                <key>textureRect</key>
                <string>{{723,449},{217,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mission_Weekly_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,110}</string>
                <key>spriteSourceSize</key>
                <string>{217,110}</string>
                <key>textureRect</key>
                <string>{{723,561},{217,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_Daily 8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,160}</string>
                <key>spriteSourceSize</key>
                <string>{133,160}</string>
                <key>textureRect</key>
                <string>{{830,673},{133,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_ht_diban_mission_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,104}</string>
                <key>spriteSourceSize</key>
                <string>{668,104}</string>
                <key>textureRect</key>
                <string>{{1,1701},{668,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DayLogin300.png</string>
            <key>size</key>
            <string>{1013,1806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4aacfdbcdaf2724807b2015276b9f69a:b6d6a8338535350f97839670ff24a73a:7521ae82456c138673d5efb9e1bdfdc8$</string>
            <key>textureFileName</key>
            <string>DayLogin300.png</string>
        </dict>
    </dict>
</plist>
