<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gloryhole_bg04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-33}</string>
                <key>spriteSize</key>
                <string>{688,958}</string>
                <key>spriteSourceSize</key>
                <string>{704,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{688,958}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GloryHole4.png</string>
            <key>size</key>
            <string>{690,960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:009f335d9420b51eace414a0997710db:c04d683516eae8e363e19df0e5d578ea:f82c56f79c88abdb0031da738d65b93a$</string>
            <key>textureFileName</key>
            <string>GloryHole4.png</string>
        </dict>
    </dict>
</plist>
