<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GloryHole_btn01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{1780,84},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{1780,209},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn02_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,71}</string>
                <key>spriteSourceSize</key>
                <string>{74,71}</string>
                <key>textureRect</key>
                <string>{{1780,1078},{74,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn05_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,81}</string>
                <key>spriteSourceSize</key>
                <string>{248,81}</string>
                <key>textureRect</key>
                <string>{{1780,1},{248,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn06_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{1780,334},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn06_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{1780,459},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn07_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,129}</string>
                <key>spriteSourceSize</key>
                <string>{127,129}</string>
                <key>textureRect</key>
                <string>{{1780,714},{127,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn07_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,129}</string>
                <key>spriteSourceSize</key>
                <string>{127,129}</string>
                <key>textureRect</key>
                <string>{{1780,845},{127,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,54}</string>
                <key>spriteSourceSize</key>
                <string>{180,54}</string>
                <key>textureRect</key>
                <string>{{1856,1146},{180,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,54}</string>
                <key>spriteSourceSize</key>
                <string>{180,54}</string>
                <key>textureRect</key>
                <string>{{1843,1202},{180,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,97}</string>
                <key>spriteSourceSize</key>
                <string>{99,97}</string>
                <key>textureRect</key>
                <string>{{1843,1258},{99,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,87}</string>
                <key>spriteSourceSize</key>
                <string>{109,87}</string>
                <key>textureRect</key>
                <string>{{1909,714},{109,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,128}</string>
                <key>spriteSourceSize</key>
                <string>{145,128}</string>
                <key>textureRect</key>
                <string>{{1780,584},{145,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_25_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1780,976},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_25_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1843,1453},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_item02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{57,90}</string>
                <key>spriteSourceSize</key>
                <string>{101,100}</string>
                <key>textureRect</key>
                <string>{{1371,1283},{57,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_item04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1937,1456},{100,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{701,158}</string>
                <key>spriteSourceSize</key>
                <string>{701,158}</string>
                <key>textureRect</key>
                <string>{{686,1656},{701,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img_A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,103}</string>
                <key>spriteSourceSize</key>
                <string>{92,103}</string>
                <key>textureRect</key>
                <string>{{1882,976},{92,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img_B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,103}</string>
                <key>spriteSourceSize</key>
                <string>{77,103}</string>
                <key>textureRect</key>
                <string>{{1944,1258},{77,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,104}</string>
                <key>spriteSourceSize</key>
                <string>{79,104}</string>
                <key>textureRect</key>
                <string>{{1927,584},{79,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Touch02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,397}</string>
                <key>spriteSourceSize</key>
                <string>{396,397}</string>
                <key>textureRect</key>
                <string>{{1445,1151},{396,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_btn01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{1843,1357},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_btn02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{1938,1363},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,744}</string>
                <key>spriteSourceSize</key>
                <string>{333,744}</string>
                <key>textureRect</key>
                <string>{{1445,1},{333,744}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,131}</string>
                <key>spriteSourceSize</key>
                <string>{670,131}</string>
                <key>textureRect</key>
                <string>{{627,1816},{670,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,131}</string>
                <key>spriteSourceSize</key>
                <string>{670,131}</string>
                <key>textureRect</key>
                <string>{{1350,1837},{670,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,76}</string>
                <key>spriteSourceSize</key>
                <string>{73,76}</string>
                <key>textureRect</key>
                <string>{{1909,803},{73,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,285}</string>
                <key>spriteSourceSize</key>
                <string>{624,285}</string>
                <key>textureRect</key>
                <string>{{1,1754},{624,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,285}</string>
                <key>spriteSourceSize</key>
                <string>{624,285}</string>
                <key>textureRect</key>
                <string>{{1389,1550},{624,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,56}</string>
                <key>spriteSourceSize</key>
                <string>{550,56}</string>
                <key>textureRect</key>
                <string>{{1350,1970},{550,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_bg01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_bg03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{723,1},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_mission_img6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,29}</string>
                <key>spriteSourceSize</key>
                <string>{130,29}</string>
                <key>textureRect</key>
                <string>{{627,2011},{130,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_mission_img7_G.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,63}</string>
                <key>spriteSourceSize</key>
                <string>{136,63}</string>
                <key>textureRect</key>
                <string>{{1902,1970},{136,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_mission_img7_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,63}</string>
                <key>spriteSourceSize</key>
                <string>{136,63}</string>
                <key>textureRect</key>
                <string>{{1856,1081},{136,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_team03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,402}</string>
                <key>spriteSourceSize</key>
                <string>{333,402}</string>
                <key>textureRect</key>
                <string>{{1445,747},{333,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ItemSelection_GH_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,371}</string>
                <key>spriteSourceSize</key>
                <string>{683,371}</string>
                <key>textureRect</key>
                <string>{{686,1283},{683,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ranking_Inner_img6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,60}</string>
                <key>spriteSourceSize</key>
                <string>{721,60}</string>
                <key>textureRect</key>
                <string>{{627,1949},{721,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ReceiveRewards_GH_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,469}</string>
                <key>spriteSourceSize</key>
                <string>{683,469}</string>
                <key>textureRect</key>
                <string>{{1,1283},{683,469}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GloryHole1.png</string>
            <key>size</key>
            <string>{2039,2041}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:009f335d9420b51eace414a0997710db:c04d683516eae8e363e19df0e5d578ea:f82c56f79c88abdb0031da738d65b93a$</string>
            <key>textureFileName</key>
            <string>GloryHole1.png</string>
        </dict>
    </dict>
</plist>
