<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GloryHole_btn04_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,136}</string>
                <key>spriteSourceSize</key>
                <string>{139,136}</string>
                <key>textureRect</key>
                <string>{{1781,1645},{139,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn04_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,136}</string>
                <key>spriteSourceSize</key>
                <string>{139,136}</string>
                <key>textureRect</key>
                <string>{{1781,1783},{139,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn05_G.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,81}</string>
                <key>spriteSourceSize</key>
                <string>{248,81}</string>
                <key>textureRect</key>
                <string>{{1765,1200},{248,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_filling.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,182}</string>
                <key>spriteSourceSize</key>
                <string>{213,182}</string>
                <key>textureRect</key>
                <string>{{1781,1283},{213,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,609}</string>
                <key>spriteSourceSize</key>
                <string>{720,609}</string>
                <key>textureRect</key>
                <string>{{724,1283},{720,609}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_12.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,31}</string>
                <key>spriteSourceSize</key>
                <string>{103,31}</string>
                <key>textureRect</key>
                <string>{{1922,1859},{103,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,609}</string>
                <key>spriteSourceSize</key>
                <string>{720,609}</string>
                <key>textureRect</key>
                <string>{{1,1385},{720,609}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,106}</string>
                <key>spriteSourceSize</key>
                <string>{177,106}</string>
                <key>textureRect</key>
                <string>{{1850,1088},{177,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,105}</string>
                <key>spriteSourceSize</key>
                <string>{107,105}</string>
                <key>textureRect</key>
                <string>{{1922,1752},{107,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,116}</string>
                <key>spriteSourceSize</key>
                <string>{256,116}</string>
                <key>textureRect</key>
                <string>{{1781,1921},{256,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,44}</string>
                <key>spriteSourceSize</key>
                <string>{173,44}</string>
                <key>textureRect</key>
                <string>{{468,1996},{173,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_EV1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,1280}</string>
                <key>spriteSourceSize</key>
                <string>{318,1280}</string>
                <key>textureRect</key>
                <string>{{1445,1},{318,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,455}</string>
                <key>spriteSourceSize</key>
                <string>{27,455}</string>
                <key>textureRect</key>
                <string>{{1962,1},{27,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,182}</string>
                <key>spriteSourceSize</key>
                <string>{27,182}</string>
                <key>textureRect</key>
                <string>{{1926,598},{27,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,473}</string>
                <key>spriteSourceSize</key>
                <string>{44,473}</string>
                <key>textureRect</key>
                <string>{{1850,613},{44,473}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,16}</string>
                <key>spriteSourceSize</key>
                <string>{44,16}</string>
                <key>textureRect</key>
                <string>{{1395,1894},{44,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,585}</string>
                <key>spriteSourceSize</key>
                <string>{83,585}</string>
                <key>textureRect</key>
                <string>{{1765,613},{83,585}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img05S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,610}</string>
                <key>spriteSourceSize</key>
                <string>{154,610}</string>
                <key>textureRect</key>
                <string>{{1765,1},{154,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,460}</string>
                <key>spriteSourceSize</key>
                <string>{10,460}</string>
                <key>textureRect</key>
                <string>{{1921,1},{10,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,171}</string>
                <key>spriteSourceSize</key>
                <string>{77,171}</string>
                <key>textureRect</key>
                <string>{{1955,598},{77,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,39}</string>
                <key>spriteSourceSize</key>
                <string>{50,39}</string>
                <key>textureRect</key>
                <string>{{643,1996},{50,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,172}</string>
                <key>spriteSourceSize</key>
                <string>{120,172}</string>
                <key>textureRect</key>
                <string>{{1926,782},{120,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img_C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,104}</string>
                <key>spriteSourceSize</key>
                <string>{79,104}</string>
                <key>textureRect</key>
                <string>{{1959,1467},{79,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Touch03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{1781,1467},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{465,48}</string>
                <key>spriteSourceSize</key>
                <string>{465,48}</string>
                <key>textureRect</key>
                <string>{{1,1996},{465,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_modA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,455}</string>
                <key>spriteSourceSize</key>
                <string>{27,455}</string>
                <key>textureRect</key>
                <string>{{1991,1},{27,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_modB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,456}</string>
                <key>spriteSourceSize</key>
                <string>{27,456}</string>
                <key>textureRect</key>
                <string>{{1933,1},{27,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_modC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,455}</string>
                <key>spriteSourceSize</key>
                <string>{28,455}</string>
                <key>textureRect</key>
                <string>{{1896,613},{28,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{723,1},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,131}</string>
                <key>spriteSourceSize</key>
                <string>{670,131}</string>
                <key>textureRect</key>
                <string>{{723,1894},{670,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,744}</string>
                <key>spriteSourceSize</key>
                <string>{333,744}</string>
                <key>textureRect</key>
                <string>{{1446,1283},{333,744}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,105}</string>
                <key>spriteSourceSize</key>
                <string>{113,105}</string>
                <key>textureRect</key>
                <string>{{1922,1645},{113,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,106}</string>
                <key>spriteSourceSize</key>
                <string>{113,106}</string>
                <key>textureRect</key>
                <string>{{1926,956},{113,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,100}</string>
                <key>spriteSourceSize</key>
                <string>{721,100}</string>
                <key>textureRect</key>
                <string>{{1,1283},{721,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_mission_img0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-162.5,37}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{328,77}</string>
                <key>textureRect</key>
                <string>{{1395,1912},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_mission_img5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,21}</string>
                <key>spriteSourceSize</key>
                <string>{121,21}</string>
                <key>textureRect</key>
                <string>{{1921,575},{121,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NG_PIC0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,110}</string>
                <key>spriteSourceSize</key>
                <string>{116,110}</string>
                <key>textureRect</key>
                <string>{{1921,463},{116,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GloryHole0.png</string>
            <key>size</key>
            <string>{2047,2045}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:009f335d9420b51eace414a0997710db:c04d683516eae8e363e19df0e5d578ea:f82c56f79c88abdb0031da738d65b93a$</string>
            <key>textureFileName</key>
            <string>GloryHole0.png</string>
        </dict>
    </dict>
</plist>
