<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>300 Summons_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,242}</string>
                <key>spriteSourceSize</key>
                <string>{535,242}</string>
                <key>textureRect</key>
                <string>{{1130,1149},{535,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900 Summons_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,242}</string>
                <key>spriteSourceSize</key>
                <string>{530,242}</string>
                <key>textureRect</key>
                <string>{{1090,1393},{530,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArenaLobby2_label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,63}</string>
                <key>spriteSourceSize</key>
                <string>{161,63}</string>
                <key>textureRect</key>
                <string>{{967,1139},{161,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_Monthly_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,361}</string>
                <key>spriteSourceSize</key>
                <string>{279,361}</string>
                <key>textureRect</key>
                <string>{{1,1392},{279,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,311}</string>
                <key>spriteSourceSize</key>
                <string>{440,311}</string>
                <key>textureRect</key>
                <string>{{525,1071},{440,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_Weekly_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,361}</string>
                <key>spriteSourceSize</key>
                <string>{279,361}</string>
                <key>textureRect</key>
                <string>{{1622,1525},{279,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,383}</string>
                <key>spriteSourceSize</key>
                <string>{601,383}</string>
                <key>textureRect</key>
                <string>{{1,1},{601,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,279}</string>
                <key>spriteSourceSize</key>
                <string>{683,279}</string>
                <key>textureRect</key>
                <string>{{1279,604},{683,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FactionBonus_label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,90}</string>
                <key>spriteSourceSize</key>
                <string>{165,90}</string>
                <key>textureRect</key>
                <string>{{353,1077},{165,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FactionBonus_label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,90}</string>
                <key>spriteSourceSize</key>
                <string>{170,90}</string>
                <key>textureRect</key>
                <string>{{353,985},{170,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FactionBonus_label3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,90}</string>
                <key>spriteSourceSize</key>
                <string>{165,90}</string>
                <key>textureRect</key>
                <string>{{353,1169},{165,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FactionBonus_label4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,90}</string>
                <key>spriteSourceSize</key>
                <string>{165,90}</string>
                <key>textureRect</key>
                <string>{{353,1261},{165,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FactionBonus_label5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,90}</string>
                <key>spriteSourceSize</key>
                <string>{165,90}</string>
                <key>textureRect</key>
                <string>{{353,1353},{165,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FirstRecharge_title01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,405}</string>
                <key>spriteSourceSize</key>
                <string>{350,405}</string>
                <key>textureRect</key>
                <string>{{1,985},{350,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Free 888 Summons_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,228}</string>
                <key>spriteSourceSize</key>
                <string>{568,228}</string>
                <key>textureRect</key>
                <string>{{520,1384},{568,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Free 888 Summons_Text2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,242}</string>
                <key>spriteSourceSize</key>
                <string>{530,242}</string>
                <key>textureRect</key>
                <string>{{520,1614},{530,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Free 888 Summons_Text3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,242}</string>
                <key>spriteSourceSize</key>
                <string>{498,242}</string>
                <key>textureRect</key>
                <string>{{1,1755},{498,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GuildLobby_Label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,66}</string>
                <key>spriteSourceSize</key>
                <string>{160,66}</string>
                <key>textureRect</key>
                <string>{{967,1071},{160,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroSummon_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{553,192}</string>
                <key>spriteSourceSize</key>
                <string>{553,192}</string>
                <key>textureRect</key>
                <string>{{1052,1637},{553,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{501,1858},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MiningIAP_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,81}</string>
                <key>spriteSourceSize</key>
                <string>{236,81}</string>
                <key>textureRect</key>
                <string>{{282,1445},{236,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MiningLayerDrops_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,81}</string>
                <key>spriteSourceSize</key>
                <string>{236,81}</string>
                <key>textureRect</key>
                <string>{{282,1528},{236,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MiningQuest_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,80}</string>
                <key>spriteSourceSize</key>
                <string>{236,80}</string>
                <key>textureRect</key>
                <string>{{282,1611},{236,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MonthlyCard_Text3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{692,235}</string>
                <key>spriteSourceSize</key>
                <string>{692,235}</string>
                <key>textureRect</key>
                <string>{{528,605},{692,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NewPlayerMilestone_Label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,143}</string>
                <key>spriteSourceSize</key>
                <string>{419,143}</string>
                <key>textureRect</key>
                <string>{{1612,1888},{419,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NewPlayerMilestone_Label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,316}</string>
                <key>spriteSourceSize</key>
                <string>{350,316}</string>
                <key>textureRect</key>
                <string>{{1696,885},{350,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NewPlayerMilestone_Label3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,320}</string>
                <key>spriteSourceSize</key>
                <string>{357,320}</string>
                <key>textureRect</key>
                <string>{{1667,1203},{357,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RechargeBounce_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,277}</string>
                <key>spriteSourceSize</key>
                <string>{524,277}</string>
                <key>textureRect</key>
                <string>{{1,706},{524,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SecretMessage_Getpic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,54}</string>
                <key>spriteSourceSize</key>
                <string>{197,54}</string>
                <key>textureRect</key>
                <string>{{282,1693},{197,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle 01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,300}</string>
                <key>spriteSourceSize</key>
                <string>{674,300}</string>
                <key>textureRect</key>
                <string>{{604,1},{674,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle 02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,299}</string>
                <key>spriteSourceSize</key>
                <string>{674,299}</string>
                <key>textureRect</key>
                <string>{{1279,303},{674,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle 03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,300}</string>
                <key>spriteSourceSize</key>
                <string>{673,300}</string>
                <key>textureRect</key>
                <string>{{1280,1},{673,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle 04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,300}</string>
                <key>spriteSourceSize</key>
                <string>{673,300}</string>
                <key>textureRect</key>
                <string>{{604,303},{673,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{525,318}</string>
                <key>spriteSourceSize</key>
                <string>{525,318}</string>
                <key>textureRect</key>
                <string>{{1,386},{525,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,183}</string>
                <key>spriteSourceSize</key>
                <string>{434,183}</string>
                <key>textureRect</key>
                <string>{{1176,1831},{434,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_Memory_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,227}</string>
                <key>spriteSourceSize</key>
                <string>{624,227}</string>
                <key>textureRect</key>
                <string>{{527,842},{624,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_200_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{541,262}</string>
                <key>spriteSourceSize</key>
                <string>{541,262}</string>
                <key>textureRect</key>
                <string>{{1153,885},{541,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>i18n_cn_Banner0.png</string>
            <key>size</key>
            <string>{2047,2032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0795c2544997816108a77c6412e014d:86a53adba4de1ba2277fa0d13fa42ea1:79c992033899a21d227235485999520c$</string>
            <key>textureFileName</key>
            <string>i18n_cn_Banner0.png</string>
        </dict>
    </dict>
</plist>
