<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Main_icon3_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,29}</string>
                <key>spriteSourceSize</key>
                <string>{51,29}</string>
                <key>textureRect</key>
                <string>{{1973,98},{51,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_Equip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{93,95}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1688,98},{93,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_HeroSummon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{203,100},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_Island.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{302,100},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_LeaderUpgrade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{304,1},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_LevelGift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{401,100},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_LoginReward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{403,1},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_MonthCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{500,100},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_MyRank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{502,1},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_NewCharacter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{599,100},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_PopBundle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{601,1},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_PowerGift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{698,100},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_Privilege.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{700,1},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_Proverbs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{797,100},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_RairtyUP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{93,95}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1783,98},{93,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_Ranking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{799,1},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_RechargeBounce.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{896,100},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_Sanctuary.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{898,1},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_SecretMessage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{995,100},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_SecretMessage_On.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{995,100},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_SecretPhoto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{997,1},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_SecretPhoto2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1094,100},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_SecretShop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{99,95}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1492,1},{99,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_SingleBoss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1096,1},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_Skinshop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1193,100},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_Stats.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{93,95}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1878,98},{93,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_StepBundle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1195,1},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_Summon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1292,100},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_SummonAWS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1294,1},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_SummonArms.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1391,100},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_SummonPremium.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1393,1},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_Team1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{97,95}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1589,98},{97,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_Team8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{99,95}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1593,1},{99,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_TowerFearless.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{99,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1,1},{99,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_TowerOccupation_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{99,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1,100},{99,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_TowerOccupation_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{99,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{102,1},{99,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_TowerOccupation_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{99,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{102,100},{99,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_TowerOccupation_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{99,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{203,1},{99,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_holygrail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1490,100},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_wish_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{99,95}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1694,1},{99,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_wish_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{99,95}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1795,1},{99,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SubBtn_wish_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{99,95}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1896,1},{99,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>i18n_tw_Button1.png</string>
            <key>size</key>
            <string>{2025,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b063afaa5ba1b33b9b92554b6fd07db:ac6729c39badd6e2d5b6c161c4f1e8e7:210a2bcd7352f80b43cbb6c6c38d54d5$</string>
            <key>textureFileName</key>
            <string>i18n_tw_Button1.png</string>
        </dict>
    </dict>
</plist>
