<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Album_Name03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,77}</string>
                <key>spriteSourceSize</key>
                <string>{194,77}</string>
                <key>textureRect</key>
                <string>{{1147,1821},{194,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,72}</string>
                <key>spriteSourceSize</key>
                <string>{129,72}</string>
                <key>textureRect</key>
                <string>{{528,1876},{129,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,72}</string>
                <key>spriteSourceSize</key>
                <string>{191,72}</string>
                <key>textureRect</key>
                <string>{{1830,1781},{191,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,69}</string>
                <key>spriteSourceSize</key>
                <string>{132,69}</string>
                <key>textureRect</key>
                <string>{{528,1805},{132,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{132,74}</string>
                <key>textureRect</key>
                <string>{{528,1729},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,72}</string>
                <key>spriteSourceSize</key>
                <string>{129,72}</string>
                <key>textureRect</key>
                <string>{{528,1950},{129,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArenaLobby2_label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,66}</string>
                <key>spriteSourceSize</key>
                <string>{210,66}</string>
                <key>textureRect</key>
                <string>{{1830,1646},{210,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coliseum_Label5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,74}</string>
                <key>spriteSourceSize</key>
                <string>{196,74}</string>
                <key>textureRect</key>
                <string>{{1147,1745},{196,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,279}</string>
                <key>spriteSourceSize</key>
                <string>{683,279}</string>
                <key>textureRect</key>
                <string>{{695,1},{683,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaBbunde_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{469,352}</string>
                <key>spriteSourceSize</key>
                <string>{469,352}</string>
                <key>textureRect</key>
                <string>{{676,1693},{469,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GuildLobby_Label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,65}</string>
                <key>spriteSourceSize</key>
                <string>{207,65}</string>
                <key>textureRect</key>
                <string>{{1830,1714},{207,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyPopout_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,134}</string>
                <key>spriteSourceSize</key>
                <string>{622,134}</string>
                <key>textureRect</key>
                <string>{{1380,207},{622,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{676,1267},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1,1303},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1351,1362},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{676,1409},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1,1445},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1351,1504},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{676,1551},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1,1587},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_179.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,170}</string>
                <key>spriteSourceSize</key>
                <string>{673,170}</string>
                <key>textureRect</key>
                <string>{{1351,1027},{673,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,161}</string>
                <key>spriteSourceSize</key>
                <string>{673,161}</string>
                <key>textureRect</key>
                <string>{{1351,1199},{673,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MonthlyCard_Text3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{692,235}</string>
                <key>spriteSourceSize</key>
                <string>{692,235}</string>
                <key>textureRect</key>
                <string>{{1,1},{692,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SecretMessage_Getpic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,50}</string>
                <key>spriteSourceSize</key>
                <string>{197,50}</string>
                <key>textureRect</key>
                <string>{{1147,1693},{197,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle 01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,300}</string>
                <key>spriteSourceSize</key>
                <string>{674,300}</string>
                <key>textureRect</key>
                <string>{{1,238},{674,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle 02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,299}</string>
                <key>spriteSourceSize</key>
                <string>{674,299}</string>
                <key>textureRect</key>
                <string>{{677,282},{674,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle 03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,300}</string>
                <key>spriteSourceSize</key>
                <string>{673,300}</string>
                <key>textureRect</key>
                <string>{{1351,725},{673,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle 04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,300}</string>
                <key>spriteSourceSize</key>
                <string>{673,300}</string>
                <key>textureRect</key>
                <string>{{676,965},{673,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,380}</string>
                <key>spriteSourceSize</key>
                <string>{673,380}</string>
                <key>textureRect</key>
                <string>{{1,540},{673,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,380}</string>
                <key>spriteSourceSize</key>
                <string>{673,380}</string>
                <key>textureRect</key>
                <string>{{1353,343},{673,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,379}</string>
                <key>spriteSourceSize</key>
                <string>{673,379}</string>
                <key>textureRect</key>
                <string>{{1,922},{673,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,380}</string>
                <key>spriteSourceSize</key>
                <string>{673,380}</string>
                <key>textureRect</key>
                <string>{{676,583},{673,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonFactionBundle_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{477,394}</string>
                <key>spriteSourceSize</key>
                <string>{477,394}</string>
                <key>textureRect</key>
                <string>{{1351,1646},{477,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{525,318}</string>
                <key>spriteSourceSize</key>
                <string>{525,318}</string>
                <key>textureRect</key>
                <string>{{1,1729},{525,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,-3}</string>
                <key>spriteSize</key>
                <string>{190,141}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1830,1855},{190,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-5}</string>
                <key>spriteSize</key>
                <string>{188,145}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1147,1900},{188,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_132_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{644,204}</string>
                <key>spriteSourceSize</key>
                <string>{644,204}</string>
                <key>textureRect</key>
                <string>{{1380,1},{644,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>i18n_tw_Banner0.png</string>
            <key>size</key>
            <string>{2041,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25bf84118418e1cfd294165cc213726c:08d92c088b30345ebd675c0d84d3ac88:5a57394b434f594b48ce091aa87f4c88$</string>
            <key>textureFileName</key>
            <string>i18n_tw_Banner0.png</string>
        </dict>
    </dict>
</plist>
