<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Event001_Entey_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,334}</string>
                <key>spriteSourceSize</key>
                <string>{338,334}</string>
                <key>textureRect</key>
                <string>{{681,700},{338,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Entey_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,334}</string>
                <key>spriteSourceSize</key>
                <string>{338,334}</string>
                <key>textureRect</key>
                <string>{{671,1036},{338,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Hard _N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1634,1522},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Hard _S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1779,735},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Img05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,35}</string>
                <key>spriteSourceSize</key>
                <string>{84,35}</string>
                <key>textureRect</key>
                <string>{{1011,1324},{84,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Memory_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,182}</string>
                <key>spriteSourceSize</key>
                <string>{182,182}</string>
                <key>textureRect</key>
                <string>{{1107,1324},{182,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Memory_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,183}</string>
                <key>spriteSourceSize</key>
                <string>{183,183}</string>
                <key>textureRect</key>
                <string>{{1572,584},{183,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Normal _N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1612,1632},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Normal _S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1291,1508},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Shop_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,182}</string>
                <key>spriteSourceSize</key>
                <string>{182,182}</string>
                <key>textureRect</key>
                <string>{{1107,1508},{182,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Shop_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,183}</string>
                <key>spriteSourceSize</key>
                <string>{183,183}</string>
                <key>textureRect</key>
                <string>{{1011,1139},{183,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Task_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,182}</string>
                <key>spriteSourceSize</key>
                <string>{182,182}</string>
                <key>textureRect</key>
                <string>{{1291,1324},{182,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Task_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,183}</string>
                <key>spriteSourceSize</key>
                <string>{183,183}</string>
                <key>textureRect</key>
                <string>{{1196,1139},{183,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,172}</string>
                <key>spriteSourceSize</key>
                <string>{485,172}</string>
                <key>textureRect</key>
                <string>{{686,526},{485,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_mission_img8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,531}</string>
                <key>spriteSourceSize</key>
                <string>{683,531}</string>
                <key>textureRect</key>
                <string>{{1,1},{683,531}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_mission_img9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,171}</string>
                <key>spriteSourceSize</key>
                <string>{323,171}</string>
                <key>textureRect</key>
                <string>{{1021,705},{323,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Hard _1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,79}</string>
                <key>spriteSourceSize</key>
                <string>{207,79}</string>
                <key>textureRect</key>
                <string>{{1555,894},{207,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Hard _2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,79}</string>
                <key>spriteSourceSize</key>
                <string>{207,79}</string>
                <key>textureRect</key>
                <string>{{1722,1130},{207,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Hard _3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,80}</string>
                <key>spriteSourceSize</key>
                <string>{207,80}</string>
                <key>textureRect</key>
                <string>{{1346,864},{207,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,111}</string>
                <key>spriteSourceSize</key>
                <string>{301,111}</string>
                <key>textureRect</key>
                <string>{{1021,1026},{301,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,104}</string>
                <key>spriteSourceSize</key>
                <string>{123,104}</string>
                <key>textureRect</key>
                <string>{{1784,1348},{123,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Label3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,120}</string>
                <key>spriteSourceSize</key>
                <string>{198,120}</string>
                <key>textureRect</key>
                <string>{{1522,1100},{198,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Label4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,157}</string>
                <key>spriteSourceSize</key>
                <string>{224,157}</string>
                <key>textureRect</key>
                <string>{{1346,705},{224,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Label5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,110}</string>
                <key>spriteSourceSize</key>
                <string>{202,110}</string>
                <key>textureRect</key>
                <string>{{1757,623},{202,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Normal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,79}</string>
                <key>spriteSourceSize</key>
                <string>{207,79}</string>
                <key>textureRect</key>
                <string>{{1522,1222},{207,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Normal_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,79}</string>
                <key>spriteSourceSize</key>
                <string>{207,79}</string>
                <key>textureRect</key>
                <string>{{1731,1211},{207,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Normal_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,79}</string>
                <key>spriteSourceSize</key>
                <string>{207,79}</string>
                <key>textureRect</key>
                <string>{{1475,1303},{207,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Text1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,103}</string>
                <key>spriteSourceSize</key>
                <string>{166,103}</string>
                <key>textureRect</key>
                <string>{{1475,1384},{166,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,116}</string>
                <key>spriteSourceSize</key>
                <string>{202,116}</string>
                <key>textureRect</key>
                <string>{{1757,505},{202,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{678,447}</string>
                <key>spriteSourceSize</key>
                <string>{678,447}</string>
                <key>textureRect</key>
                <string>{{1,534},{678,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_clear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,35}</string>
                <key>spriteSourceSize</key>
                <string>{84,35}</string>
                <key>textureRect</key>
                <string>{{1011,1324},{84,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event01_Img_Card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,183}</string>
                <key>spriteSourceSize</key>
                <string>{434,183}</string>
                <key>textureRect</key>
                <string>{{671,1372},{434,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event03_Btn_Enter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,215}</string>
                <key>spriteSourceSize</key>
                <string>{206,215}</string>
                <key>textureRect</key>
                <string>{{1736,288},{206,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event03_Btn_Mission.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,87}</string>
                <key>spriteSourceSize</key>
                <string>{157,87}</string>
                <key>textureRect</key>
                <string>{{1475,1489},{157,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event03_Btn_Stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,87}</string>
                <key>spriteSourceSize</key>
                <string>{157,87}</string>
                <key>textureRect</key>
                <string>{{1453,1578},{157,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event03_Btn_Story.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,65}</string>
                <key>spriteSourceSize</key>
                <string>{138,65}</string>
                <key>textureRect</key>
                <string>{{1291,1670},{138,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event03_Img_Card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,183}</string>
                <key>spriteSourceSize</key>
                <string>{434,183}</string>
                <key>textureRect</key>
                <string>{{671,1557},{434,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event03_Img_MemuLabel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,111}</string>
                <key>spriteSourceSize</key>
                <string>{301,111}</string>
                <key>textureRect</key>
                <string>{{1021,1026},{301,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event03_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,236}</string>
                <key>spriteSourceSize</key>
                <string>{524,236}</string>
                <key>textureRect</key>
                <string>{{686,288},{524,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_Title_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{501,147}</string>
                <key>spriteSourceSize</key>
                <string>{501,155}</string>
                <key>textureRect</key>
                <string>{{1212,435},{501,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{1572,769},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{1324,946},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn04_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,136}</string>
                <key>spriteSourceSize</key>
                <string>{139,136}</string>
                <key>textureRect</key>
                <string>{{1381,1127},{139,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn04_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,136}</string>
                <key>spriteSourceSize</key>
                <string>{139,136}</string>
                <key>textureRect</key>
                <string>{{1643,1384},{139,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn06_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{1531,975},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn06_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{1738,1005},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,119}</string>
                <key>spriteSourceSize</key>
                <string>{397,119}</string>
                <key>textureRect</key>
                <string>{{1173,584},{397,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,54}</string>
                <key>spriteSourceSize</key>
                <string>{180,54}</string>
                <key>textureRect</key>
                <string>{{1324,1071},{180,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,54}</string>
                <key>spriteSourceSize</key>
                <string>{180,54}</string>
                <key>textureRect</key>
                <string>{{1731,1292},{180,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,31}</string>
                <key>spriteSourceSize</key>
                <string>{103,31}</string>
                <key>textureRect</key>
                <string>{{1381,1265},{103,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,106}</string>
                <key>spriteSourceSize</key>
                <string>{177,106}</string>
                <key>textureRect</key>
                <string>{{1764,897},{177,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,97}</string>
                <key>spriteSourceSize</key>
                <string>{99,97}</string>
                <key>textureRect</key>
                <string>{{1722,1632},{99,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,105}</string>
                <key>spriteSourceSize</key>
                <string>{107,105}</string>
                <key>textureRect</key>
                <string>{{1744,1525},{107,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,44}</string>
                <key>spriteSourceSize</key>
                <string>{173,44}</string>
                <key>textureRect</key>
                <string>{{1107,1692},{173,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img_fever.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{522,145}</string>
                <key>spriteSourceSize</key>
                <string>{522,145}</string>
                <key>textureRect</key>
                <string>{{1212,288},{522,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,146}</string>
                <key>spriteSourceSize</key>
                <string>{272,146}</string>
                <key>textureRect</key>
                <string>{{1021,878},{272,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Combo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,69}</string>
                <key>spriteSourceSize</key>
                <string>{127,69}</string>
                <key>textureRect</key>
                <string>{{1784,1454},{127,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,744}</string>
                <key>spriteSourceSize</key>
                <string>{333,744}</string>
                <key>textureRect</key>
                <string>{{1,983},{333,744}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,744}</string>
                <key>spriteSourceSize</key>
                <string>{333,744}</string>
                <key>textureRect</key>
                <string>{{336,983},{333,744}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,285}</string>
                <key>spriteSourceSize</key>
                <string>{624,285}</string>
                <key>textureRect</key>
                <string>{{686,1},{624,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,285}</string>
                <key>spriteSourceSize</key>
                <string>{624,285}</string>
                <key>textureRect</key>
                <string>{{1312,1},{624,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>i18n_cn_Event0.png</string>
            <key>size</key>
            <string>{1960,1741}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:626b5d636acdd26e4621d243f8bac09a:1d66dd4a207de558984c93620d2c9932:ec6b001612c4527ae226ca5e096085ed$</string>
            <key>textureFileName</key>
            <string>i18n_cn_Event0.png</string>
        </dict>
    </dict>
</plist>
