<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Event001_Entey_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,334}</string>
                <key>spriteSourceSize</key>
                <string>{338,334}</string>
                <key>textureRect</key>
                <string>{{671,1058},{338,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Entey_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,334}</string>
                <key>spriteSourceSize</key>
                <string>{338,334}</string>
                <key>textureRect</key>
                <string>{{1312,288},{338,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Hard _N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1915,1},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Hard _S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1315,1547},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Img05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,35}</string>
                <key>spriteSourceSize</key>
                <string>{84,35}</string>
                <key>textureRect</key>
                <string>{{1915,221},{84,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Memory_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,182}</string>
                <key>spriteSourceSize</key>
                <string>{182,182}</string>
                <key>textureRect</key>
                <string>{{1404,1052},{182,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Memory_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,183}</string>
                <key>spriteSourceSize</key>
                <string>{183,183}</string>
                <key>textureRect</key>
                <string>{{1107,1393},{183,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Normal _N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1915,111},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Normal _S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1661,1344},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Shop_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,182}</string>
                <key>spriteSourceSize</key>
                <string>{182,182}</string>
                <key>textureRect</key>
                <string>{{1477,1361},{182,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Shop_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,183}</string>
                <key>spriteSourceSize</key>
                <string>{183,183}</string>
                <key>textureRect</key>
                <string>{{1219,1052},{183,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Task_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,182}</string>
                <key>spriteSourceSize</key>
                <string>{182,182}</string>
                <key>textureRect</key>
                <string>{{1477,1545},{182,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Task_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,183}</string>
                <key>spriteSourceSize</key>
                <string>{183,183}</string>
                <key>textureRect</key>
                <string>{{1292,1362},{183,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,383}</string>
                <key>spriteSourceSize</key>
                <string>{601,383}</string>
                <key>textureRect</key>
                <string>{{686,1},{601,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_mission_img8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,531}</string>
                <key>spriteSourceSize</key>
                <string>{683,531}</string>
                <key>textureRect</key>
                <string>{{1,1},{683,531}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_mission_img9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,171}</string>
                <key>spriteSourceSize</key>
                <string>{323,171}</string>
                <key>textureRect</key>
                <string>{{1652,288},{323,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Hard _1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,79}</string>
                <key>spriteSourceSize</key>
                <string>{207,79}</string>
                <key>textureRect</key>
                <string>{{1416,867},{207,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Hard _2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,79}</string>
                <key>spriteSourceSize</key>
                <string>{207,79}</string>
                <key>textureRect</key>
                <string>{{1409,948},{207,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Hard _3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,80}</string>
                <key>spriteSourceSize</key>
                <string>{207,80}</string>
                <key>textureRect</key>
                <string>{{1207,858},{207,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,111}</string>
                <key>spriteSourceSize</key>
                <string>{301,111}</string>
                <key>textureRect</key>
                <string>{{1207,745},{301,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,104}</string>
                <key>spriteSourceSize</key>
                <string>{123,104}</string>
                <key>textureRect</key>
                <string>{{1834,893},{123,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Label3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,120}</string>
                <key>spriteSourceSize</key>
                <string>{198,120}</string>
                <key>textureRect</key>
                <string>{{1510,745},{198,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Label4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,157}</string>
                <key>spriteSourceSize</key>
                <string>{224,157}</string>
                <key>textureRect</key>
                <string>{{1711,609},{224,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Label5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,110}</string>
                <key>spriteSourceSize</key>
                <string>{202,110}</string>
                <key>textureRect</key>
                <string>{{1205,940},{202,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Normal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,79}</string>
                <key>spriteSourceSize</key>
                <string>{207,79}</string>
                <key>textureRect</key>
                <string>{{1625,893},{207,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Normal_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,79}</string>
                <key>spriteSourceSize</key>
                <string>{207,79}</string>
                <key>textureRect</key>
                <string>{{1618,974},{207,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Normal_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,79}</string>
                <key>spriteSourceSize</key>
                <string>{207,79}</string>
                <key>textureRect</key>
                <string>{{1661,1644},{207,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Text1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,103}</string>
                <key>spriteSourceSize</key>
                <string>{166,103}</string>
                <key>textureRect</key>
                <string>{{1827,999},{166,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,116}</string>
                <key>spriteSourceSize</key>
                <string>{202,116}</string>
                <key>textureRect</key>
                <string>{{1011,1275},{202,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{678,447}</string>
                <key>spriteSourceSize</key>
                <string>{678,447}</string>
                <key>textureRect</key>
                <string>{{1,534},{678,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_clear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,35}</string>
                <key>spriteSourceSize</key>
                <string>{84,35}</string>
                <key>textureRect</key>
                <string>{{1915,221},{84,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event03_Btn_Enter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,215}</string>
                <key>spriteSourceSize</key>
                <string>{206,215}</string>
                <key>textureRect</key>
                <string>{{1011,1058},{206,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event03_Btn_Mission.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,87}</string>
                <key>spriteSourceSize</key>
                <string>{157,87}</string>
                <key>textureRect</key>
                <string>{{1812,1206},{157,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event03_Btn_Stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,87}</string>
                <key>spriteSourceSize</key>
                <string>{157,87}</string>
                <key>textureRect</key>
                <string>{{1823,1295},{157,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event03_Btn_Story.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,65}</string>
                <key>spriteSourceSize</key>
                <string>{138,65}</string>
                <key>textureRect</key>
                <string>{{1823,1491},{138,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event03_Img_Card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,183}</string>
                <key>spriteSourceSize</key>
                <string>{434,183}</string>
                <key>textureRect</key>
                <string>{{671,1394},{434,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event03_Img_MemuLabel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,111}</string>
                <key>spriteSourceSize</key>
                <string>{301,111}</string>
                <key>textureRect</key>
                <string>{{1207,745},{301,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event03_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,236}</string>
                <key>spriteSourceSize</key>
                <string>{524,236}</string>
                <key>textureRect</key>
                <string>{{681,673},{524,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_Title_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{501,147}</string>
                <key>spriteSourceSize</key>
                <string>{501,155}</string>
                <key>textureRect</key>
                <string>{{671,1579},{501,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{1710,768},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{1219,1237},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn04_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,136}</string>
                <key>spriteSourceSize</key>
                <string>{139,136}</string>
                <key>textureRect</key>
                <string>{{1174,1578},{139,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn04_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,136}</string>
                <key>spriteSourceSize</key>
                <string>{139,136}</string>
                <key>textureRect</key>
                <string>{{1661,1506},{139,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn06_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{1426,1236},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn06_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{1588,1055},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,119}</string>
                <key>spriteSourceSize</key>
                <string>{397,119}</string>
                <key>textureRect</key>
                <string>{{1312,624},{397,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,54}</string>
                <key>spriteSourceSize</key>
                <string>{180,54}</string>
                <key>textureRect</key>
                <string>{{1588,1180},{180,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,54}</string>
                <key>spriteSourceSize</key>
                <string>{180,54}</string>
                <key>textureRect</key>
                <string>{{1795,1104},{180,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,31}</string>
                <key>spriteSourceSize</key>
                <string>{103,31}</string>
                <key>textureRect</key>
                <string>{{1207,673},{103,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,106}</string>
                <key>spriteSourceSize</key>
                <string>{177,106}</string>
                <key>textureRect</key>
                <string>{{1633,1236},{177,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,97}</string>
                <key>spriteSourceSize</key>
                <string>{99,97}</string>
                <key>textureRect</key>
                <string>{{1870,1629},{99,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,105}</string>
                <key>spriteSourceSize</key>
                <string>{107,105}</string>
                <key>textureRect</key>
                <string>{{1823,1384},{107,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,44}</string>
                <key>spriteSourceSize</key>
                <string>{173,44}</string>
                <key>textureRect</key>
                <string>{{1795,1160},{173,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img_fever.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{522,145}</string>
                <key>spriteSourceSize</key>
                <string>{522,145}</string>
                <key>textureRect</key>
                <string>{{681,911},{522,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,146}</string>
                <key>spriteSourceSize</key>
                <string>{272,146}</string>
                <key>textureRect</key>
                <string>{{1652,461},{272,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Combo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,69}</string>
                <key>spriteSourceSize</key>
                <string>{127,69}</string>
                <key>textureRect</key>
                <string>{{1802,1558},{127,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,744}</string>
                <key>spriteSourceSize</key>
                <string>{333,744}</string>
                <key>textureRect</key>
                <string>{{1,983},{333,744}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,744}</string>
                <key>spriteSourceSize</key>
                <string>{333,744}</string>
                <key>textureRect</key>
                <string>{{336,983},{333,744}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,285}</string>
                <key>spriteSourceSize</key>
                <string>{624,285}</string>
                <key>textureRect</key>
                <string>{{1289,1},{624,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,285}</string>
                <key>spriteSourceSize</key>
                <string>{624,285}</string>
                <key>textureRect</key>
                <string>{{686,386},{624,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>i18n_cn_Event0.png</string>
            <key>size</key>
            <string>{2024,1728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45afac285ee434a315fae07b71bccc03:6c896f3268fb1304c62e04a27fec5ce2:ec6b001612c4527ae226ca5e096085ed$</string>
            <key>textureFileName</key>
            <string>i18n_cn_Event0.png</string>
        </dict>
    </dict>
</plist>
