<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Album_Name02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,78}</string>
                <key>spriteSourceSize</key>
                <string>{250,78}</string>
                <key>textureRect</key>
                <string>{{1103,1914},{250,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,71}</string>
                <key>spriteSourceSize</key>
                <string>{189,71}</string>
                <key>textureRect</key>
                <string>{{1846,1},{189,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,77}</string>
                <key>spriteSourceSize</key>
                <string>{184,77}</string>
                <key>textureRect</key>
                <string>{{1846,215},{184,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,73}</string>
                <key>spriteSourceSize</key>
                <string>{253,73}</string>
                <key>textureRect</key>
                <string>{{1759,1539},{253,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,70}</string>
                <key>spriteSourceSize</key>
                <string>{177,70}</string>
                <key>textureRect</key>
                <string>{{1846,373},{177,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,77}</string>
                <key>spriteSourceSize</key>
                <string>{184,77}</string>
                <key>textureRect</key>
                <string>{{1846,294},{184,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CalendarN_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,229}</string>
                <key>spriteSourceSize</key>
                <string>{396,229}</string>
                <key>textureRect</key>
                <string>{{533,1798},{396,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coliseum_Label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,74}</string>
                <key>spriteSourceSize</key>
                <string>{254,74}</string>
                <key>textureRect</key>
                <string>{{1789,1289},{254,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coliseum_Label3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,75}</string>
                <key>spriteSourceSize</key>
                <string>{260,75}</string>
                <key>textureRect</key>
                <string>{{1769,1365},{260,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_img03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,191}</string>
                <key>spriteSourceSize</key>
                <string>{331,191}</string>
                <key>textureRect</key>
                <string>{{514,1327},{331,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_Img1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,170}</string>
                <key>spriteSourceSize</key>
                <string>{328,170}</string>
                <key>textureRect</key>
                <string>{{527,983},{328,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_Img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,170}</string>
                <key>spriteSourceSize</key>
                <string>{328,170}</string>
                <key>textureRect</key>
                <string>{{527,1155},{328,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1,1},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{616,1},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1231,1},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1,196},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{616,196},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1231,196},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1,391},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{616,391},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1231,391},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1197,586},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1192,781},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Free 888 Summons_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,228}</string>
                <key>spriteSourceSize</key>
                <string>{568,228}</string>
                <key>textureRect</key>
                <string>{{858,976},{568,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Free 888 Summons_Text2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,242}</string>
                <key>spriteSourceSize</key>
                <string>{530,242}</string>
                <key>textureRect</key>
                <string>{{1,1798},{530,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Growth_TowerVer2_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,294}</string>
                <key>spriteSourceSize</key>
                <string>{312,294}</string>
                <key>textureRect</key>
                <string>{{1,719},{312,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Growth_Tower_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,254}</string>
                <key>spriteSourceSize</key>
                <string>{382,254}</string>
                <key>textureRect</key>
                <string>{{1386,1777},{382,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroSummon_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{553,192}</string>
                <key>spriteSourceSize</key>
                <string>{553,192}</string>
                <key>textureRect</key>
                <string>{{857,1206},{553,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_BannerE001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,155}</string>
                <key>spriteSourceSize</key>
                <string>{355,155}</string>
                <key>textureRect</key>
                <string>{{1412,1296},{355,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_BannerE002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,167}</string>
                <key>spriteSourceSize</key>
                <string>{359,167}</string>
                <key>textureRect</key>
                <string>{{1428,1127},{359,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_BannerE003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,155}</string>
                <key>spriteSourceSize</key>
                <string>{355,155}</string>
                <key>textureRect</key>
                <string>{{1402,1453},{355,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Login8Days_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{453,159}</string>
                <key>spriteSourceSize</key>
                <string>{453,159}</string>
                <key>textureRect</key>
                <string>{{931,1753},{453,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NewHeroJ_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,165}</string>
                <key>spriteSourceSize</key>
                <string>{353,165}</string>
                <key>textureRect</key>
                <string>{{1389,1610},{353,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RechargeBounce_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,277}</string>
                <key>spriteSourceSize</key>
                <string>{524,277}</string>
                <key>textureRect</key>
                <string>{{1,1015},{524,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonFriend_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{543,157}</string>
                <key>spriteSourceSize</key>
                <string>{543,157}</string>
                <key>textureRect</key>
                <string>{{844,1594},{543,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-4}</string>
                <key>spriteSize</key>
                <string>{254,143}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1791,1003},{254,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-5}</string>
                <key>spriteSize</key>
                <string>{246,145}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1744,1614},{246,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-4}</string>
                <key>spriteSize</key>
                <string>{240,145}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1807,856},{240,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-2}</string>
                <key>spriteSize</key>
                <string>{188,139}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1846,74},{188,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-4}</string>
                <key>spriteSize</key>
                <string>{248,143}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1770,1898},{248,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_10101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{320,135}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{511,1661},{320,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_10201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{330,139}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{512,1520},{330,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_10301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-6}</string>
                <key>spriteSize</key>
                <string>{254,139}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1789,1148},{254,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_10401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{332,137}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{858,698},{332,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_10501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-2}</string>
                <key>spriteSize</key>
                <string>{238,131}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{362,586},{238,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_11001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{332,137}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{858,837},{332,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_11101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-4}</string>
                <key>spriteSize</key>
                <string>{232,135}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1812,719},{232,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_11301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,-3}</string>
                <key>spriteSize</key>
                <string>{170,133}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{931,1914},{170,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_11601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-5}</string>
                <key>spriteSize</key>
                <string>{252,135}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1770,1761},{252,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_11801.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,-4}</string>
                <key>spriteSize</key>
                <string>{174,133}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1846,584},{174,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_12001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,-5}</string>
                <key>spriteSize</key>
                <string>{174,137}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1846,445},{174,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPremium_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{553,192}</string>
                <key>spriteSourceSize</key>
                <string>{553,192}</string>
                <key>textureRect</key>
                <string>{{847,1400},{553,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower_Memu5_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,95}</string>
                <key>spriteSourceSize</key>
                <string>{259,95}</string>
                <key>textureRect</key>
                <string>{{1769,1442},{259,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelAchi_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,149}</string>
                <key>spriteSourceSize</key>
                <string>{361,149}</string>
                <key>textureRect</key>
                <string>{{1428,976},{361,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_132_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,208}</string>
                <key>spriteSourceSize</key>
                <string>{508,208}</string>
                <key>textureRect</key>
                <string>{{1,1562},{508,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_151_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,131}</string>
                <key>spriteSourceSize</key>
                <string>{359,131}</string>
                <key>textureRect</key>
                <string>{{1,586},{359,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_170_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,132}</string>
                <key>spriteSourceSize</key>
                <string>{511,132}</string>
                <key>textureRect</key>
                <string>{{1,1294},{511,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_171_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,132}</string>
                <key>spriteSourceSize</key>
                <string>{509,132}</string>
                <key>textureRect</key>
                <string>{{1,1428},{509,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_200_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{541,262}</string>
                <key>spriteSourceSize</key>
                <string>{541,262}</string>
                <key>textureRect</key>
                <string>{{315,719},{541,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{593,110}</string>
                <key>spriteSourceSize</key>
                <string>{593,110}</string>
                <key>textureRect</key>
                <string>{{602,586},{593,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>i18n_cn_Banner2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99df12ee53f99dfa0c64101bb76c26fd:530323e5c201b2b33b7517d2c9307f98:465fb42245b3175b02730448c72aa5f3$</string>
            <key>textureFileName</key>
            <string>i18n_cn_Banner2.png</string>
        </dict>
    </dict>
</plist>
