<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ArenaLobby2_label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,66}</string>
                <key>spriteSourceSize</key>
                <string>{208,66}</string>
                <key>textureRect</key>
                <string>{{747,1120},{208,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CalendarN_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,229}</string>
                <key>spriteSourceSize</key>
                <string>{396,229}</string>
                <key>textureRect</key>
                <string>{{957,1150},{396,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CalendarP_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,224}</string>
                <key>spriteSourceSize</key>
                <string>{398,224}</string>
                <key>textureRect</key>
                <string>{{1615,1291},{398,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coliseum_Label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,74}</string>
                <key>spriteSourceSize</key>
                <string>{254,74}</string>
                <key>textureRect</key>
                <string>{{1,1954},{254,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coliseum_Label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,78}</string>
                <key>spriteSourceSize</key>
                <string>{261,78}</string>
                <key>textureRect</key>
                <string>{{1,1874},{261,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coliseum_Label3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,75}</string>
                <key>spriteSourceSize</key>
                <string>{260,75}</string>
                <key>textureRect</key>
                <string>{{742,1941},{260,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coliseum_Label5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,74}</string>
                <key>spriteSourceSize</key>
                <string>{195,74}</string>
                <key>textureRect</key>
                <string>{{754,1044},{195,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_daily_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,361}</string>
                <key>spriteSourceSize</key>
                <string>{279,361}</string>
                <key>textureRect</key>
                <string>{{1724,391},{279,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_img03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,191}</string>
                <key>spriteSourceSize</key>
                <string>{331,191}</string>
                <key>textureRect</key>
                <string>{{1669,1098},{331,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_img04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,191}</string>
                <key>spriteSourceSize</key>
                <string>{370,191}</string>
                <key>textureRect</key>
                <string>{{1242,1462},{370,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,110}</string>
                <key>spriteSourceSize</key>
                <string>{352,110}</string>
                <key>textureRect</key>
                <string>{{1,1659},{352,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_Img1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,170}</string>
                <key>spriteSourceSize</key>
                <string>{328,170}</string>
                <key>textureRect</key>
                <string>{{1703,754},{328,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_Img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,170}</string>
                <key>spriteSourceSize</key>
                <string>{328,170}</string>
                <key>textureRect</key>
                <string>{{1703,926},{328,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1,1},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{616,1},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1231,1},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1,196},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{616,196},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1231,196},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1,391},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{616,391},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ExchangeShopLobby_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,204}</string>
                <key>spriteSourceSize</key>
                <string>{470,204}</string>
                <key>textureRect</key>
                <string>{{365,1314},{470,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FashionShop_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,189}</string>
                <key>spriteSourceSize</key>
                <string>{403,189}</string>
                <key>textureRect</key>
                <string>{{837,1381},{403,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FirstRecharge_title02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,267}</string>
                <key>spriteSourceSize</key>
                <string>{362,267}</string>
                <key>textureRect</key>
                <string>{{1,1054},{362,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Growth_Player_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{380,257}</string>
                <key>spriteSourceSize</key>
                <string>{410,299}</string>
                <key>textureRect</key>
                <string>{{365,1055},{380,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Growth_Story_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{384,255}</string>
                <key>spriteSourceSize</key>
                <string>{410,299}</string>
                <key>textureRect</key>
                <string>{{993,893},{384,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Growth_Tower_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{384,257}</string>
                <key>spriteSourceSize</key>
                <string>{410,299}</string>
                <key>textureRect</key>
                <string>{{368,796},{384,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GuildLobby_Label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,65}</string>
                <key>spriteSourceSize</key>
                <string>{208,65}</string>
                <key>textureRect</key>
                <string>{{747,1188},{208,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GuildRanking_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,73}</string>
                <key>spriteSourceSize</key>
                <string>{220,73}</string>
                <key>textureRect</key>
                <string>{{754,969},{220,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_BannerA001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,101}</string>
                <key>spriteSourceSize</key>
                <string>{258,101}</string>
                <key>textureRect</key>
                <string>{{1355,1153},{258,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_BannerA002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,101}</string>
                <key>spriteSourceSize</key>
                <string>{258,101}</string>
                <key>textureRect</key>
                <string>{{1355,1256},{258,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_BannerA003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,101}</string>
                <key>spriteSourceSize</key>
                <string>{258,101}</string>
                <key>textureRect</key>
                <string>{{1355,1359},{258,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_BannerA004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,101}</string>
                <key>spriteSourceSize</key>
                <string>{258,101}</string>
                <key>textureRect</key>
                <string>{{1,1771},{258,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_BannerE002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,167}</string>
                <key>spriteSourceSize</key>
                <string>{359,167}</string>
                <key>textureRect</key>
                <string>{{1,1323},{359,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Login8Days_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{453,159}</string>
                <key>spriteSourceSize</key>
                <string>{453,159}</string>
                <key>textureRect</key>
                <string>{{1573,1706},{453,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoneyCollection_img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,226}</string>
                <key>spriteSourceSize</key>
                <string>{491,226}</string>
                <key>textureRect</key>
                <string>{{1231,391},{491,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MonthlyCard_Text1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,98}</string>
                <key>spriteSourceSize</key>
                <string>{286,98}</string>
                <key>textureRect</key>
                <string>{{1379,956},{286,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MonthlyCard_Text2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,95}</string>
                <key>spriteSourceSize</key>
                <string>{288,95}</string>
                <key>textureRect</key>
                <string>{{1379,1056},{288,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NewHeroJ_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,165}</string>
                <key>spriteSourceSize</key>
                <string>{353,165}</string>
                <key>textureRect</key>
                <string>{{1,1492},{353,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StepBundle_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,335}</string>
                <key>spriteSourceSize</key>
                <string>{268,335}</string>
                <key>textureRect</key>
                <string>{{1433,619},{268,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,272}</string>
                <key>spriteSourceSize</key>
                <string>{365,272}</string>
                <key>textureRect</key>
                <string>{{1,780},{365,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,175}</string>
                <key>spriteSourceSize</key>
                <string>{398,175}</string>
                <key>textureRect</key>
                <string>{{744,1764},{398,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,190}</string>
                <key>spriteSourceSize</key>
                <string>{395,190}</string>
                <key>textureRect</key>
                <string>{{764,1572},{395,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,187}</string>
                <key>spriteSourceSize</key>
                <string>{404,187}</string>
                <key>textureRect</key>
                <string>{{1614,1517},{404,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,182}</string>
                <key>spriteSourceSize</key>
                <string>{387,182}</string>
                <key>textureRect</key>
                <string>{{355,1707},{387,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,157}</string>
                <key>spriteSourceSize</key>
                <string>{436,157}</string>
                <key>textureRect</key>
                <string>{{1529,1867},{436,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,185}</string>
                <key>spriteSourceSize</key>
                <string>{406,185}</string>
                <key>textureRect</key>
                <string>{{356,1520},{406,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,179}</string>
                <key>spriteSourceSize</key>
                <string>{383,179}</string>
                <key>textureRect</key>
                <string>{{1144,1833},{383,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,272}</string>
                <key>spriteSourceSize</key>
                <string>{365,272}</string>
                <key>textureRect</key>
                <string>{{1066,619},{365,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,176}</string>
                <key>spriteSourceSize</key>
                <string>{410,176}</string>
                <key>textureRect</key>
                <string>{{1161,1655},{410,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPremium_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{553,192}</string>
                <key>spriteSourceSize</key>
                <string>{553,192}</string>
                <key>textureRect</key>
                <string>{{1,586},{553,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_BannerB001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,171}</string>
                <key>spriteSourceSize</key>
                <string>{237,171}</string>
                <key>textureRect</key>
                <string>{{754,796},{237,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_132_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,208}</string>
                <key>spriteSourceSize</key>
                <string>{508,208}</string>
                <key>textureRect</key>
                <string>{{556,586},{508,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_190_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,131}</string>
                <key>spriteSourceSize</key>
                <string>{476,131}</string>
                <key>textureRect</key>
                <string>{{264,1891},{476,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>i18n_cn_Banner1.png</string>
            <key>size</key>
            <string>{2032,2029}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0795c2544997816108a77c6412e014d:86a53adba4de1ba2277fa0d13fa42ea1:79c992033899a21d227235485999520c$</string>
            <key>textureFileName</key>
            <string>i18n_cn_Banner1.png</string>
        </dict>
    </dict>
</plist>
