<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Album_Name03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,77}</string>
                <key>spriteSourceSize</key>
                <string>{194,77}</string>
                <key>textureRect</key>
                <string>{{1853,1470},{194,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,72}</string>
                <key>spriteSourceSize</key>
                <string>{191,72}</string>
                <key>textureRect</key>
                <string>{{1853,1549},{191,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{132,74}</string>
                <key>textureRect</key>
                <string>{{1697,1693},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArenaLobby2_label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,66}</string>
                <key>spriteSourceSize</key>
                <string>{210,66}</string>
                <key>textureRect</key>
                <string>{{1622,1625},{210,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coliseum_Label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,78}</string>
                <key>spriteSourceSize</key>
                <string>{262,78}</string>
                <key>textureRect</key>
                <string>{{1589,1470},{262,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_Monthly_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,361}</string>
                <key>spriteSourceSize</key>
                <string>{279,361}</string>
                <key>textureRect</key>
                <string>{{1,1685},{279,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_Weekly_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,361}</string>
                <key>spriteSourceSize</key>
                <string>{279,361}</string>
                <key>textureRect</key>
                <string>{{282,1685},{279,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_daily_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,361}</string>
                <key>spriteSourceSize</key>
                <string>{279,361}</string>
                <key>textureRect</key>
                <string>{{563,1685},{279,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,279}</string>
                <key>spriteSourceSize</key>
                <string>{683,279}</string>
                <key>textureRect</key>
                <string>{{695,1},{683,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GachaBbunde_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{469,352}</string>
                <key>spriteSourceSize</key>
                <string>{469,352}</string>
                <key>textureRect</key>
                <string>{{844,1685},{469,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Growth_TowerOnelife_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,278}</string>
                <key>spriteSourceSize</key>
                <string>{327,278}</string>
                <key>textureRect</key>
                <string>{{1697,1769},{327,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Growth_Tower_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,254}</string>
                <key>spriteSourceSize</key>
                <string>{380,254}</string>
                <key>textureRect</key>
                <string>{{1315,1783},{380,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GuildLobby_Label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,65}</string>
                <key>spriteSourceSize</key>
                <string>{207,65}</string>
                <key>textureRect</key>
                <string>{{1834,1675},{207,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GuildRanking_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,73}</string>
                <key>spriteSourceSize</key>
                <string>{220,73}</string>
                <key>textureRect</key>
                <string>{{1622,1550},{220,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyPopout_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,134}</string>
                <key>spriteSourceSize</key>
                <string>{622,134}</string>
                <key>textureRect</key>
                <string>{{1380,1},{622,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1351,1186},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{676,1268},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1351,1328},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{676,1410},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1,1543},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Login8Days_label01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{618,284}</string>
                <key>spriteSourceSize</key>
                <string>{618,284}</string>
                <key>textureRect</key>
                <string>{{1380,137},{618,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MiningQuest_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,80}</string>
                <key>spriteSourceSize</key>
                <string>{236,80}</string>
                <key>textureRect</key>
                <string>{{1351,1470},{236,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MonthlyCard_Text1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,96}</string>
                <key>spriteSourceSize</key>
                <string>{304,96}</string>
                <key>textureRect</key>
                <string>{{1315,1685},{304,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MonthlyCard_Text3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{692,235}</string>
                <key>spriteSourceSize</key>
                <string>{692,235}</string>
                <key>textureRect</key>
                <string>{{1,1},{692,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PopUpSale_img_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,131}</string>
                <key>spriteSourceSize</key>
                <string>{472,131}</string>
                <key>textureRect</key>
                <string>{{676,1552},{472,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SecretMessage_Getpic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,50}</string>
                <key>spriteSourceSize</key>
                <string>{197,50}</string>
                <key>textureRect</key>
                <string>{{1844,1623},{197,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle 01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,300}</string>
                <key>spriteSourceSize</key>
                <string>{674,300}</string>
                <key>textureRect</key>
                <string>{{678,282},{674,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle 02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,299}</string>
                <key>spriteSourceSize</key>
                <string>{674,299}</string>
                <key>textureRect</key>
                <string>{{1,558},{674,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle 03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,300}</string>
                <key>spriteSourceSize</key>
                <string>{673,300}</string>
                <key>textureRect</key>
                <string>{{676,966},{673,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle 04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,300}</string>
                <key>spriteSourceSize</key>
                <string>{673,300}</string>
                <key>textureRect</key>
                <string>{{1,1241},{673,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,380}</string>
                <key>spriteSourceSize</key>
                <string>{673,380}</string>
                <key>textureRect</key>
                <string>{{1354,423},{673,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,380}</string>
                <key>spriteSourceSize</key>
                <string>{673,380}</string>
                <key>textureRect</key>
                <string>{{677,584},{673,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,379}</string>
                <key>spriteSourceSize</key>
                <string>{673,379}</string>
                <key>textureRect</key>
                <string>{{1352,805},{673,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,380}</string>
                <key>spriteSourceSize</key>
                <string>{673,380}</string>
                <key>textureRect</key>
                <string>{{1,859},{673,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_169_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,131}</string>
                <key>spriteSourceSize</key>
                <string>{470,131}</string>
                <key>textureRect</key>
                <string>{{1150,1552},{470,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_200_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{675,318}</string>
                <key>spriteSourceSize</key>
                <string>{675,318}</string>
                <key>textureRect</key>
                <string>{{1,238},{675,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>i18n_tw_Banner0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2df21fe79782ba08b11473c3afeb1d9:0804ba703c20e319d407962187a16c55:228f84c3582f5e1e4a63fe7be1cf7f16$</string>
            <key>textureFileName</key>
            <string>i18n_tw_Banner0.png</string>
        </dict>
    </dict>
</plist>
