<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>300 Summons_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,242}</string>
                <key>spriteSourceSize</key>
                <string>{535,242}</string>
                <key>textureRect</key>
                <string>{{1,1108},{535,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>900 Summons_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,242}</string>
                <key>spriteSourceSize</key>
                <string>{530,242}</string>
                <key>textureRect</key>
                <string>{{1143,1204},{530,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,71}</string>
                <key>spriteSourceSize</key>
                <string>{189,71}</string>
                <key>textureRect</key>
                <string>{{1847,143},{189,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,81}</string>
                <key>spriteSourceSize</key>
                <string>{188,81}</string>
                <key>textureRect</key>
                <string>{{1846,643},{188,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,77}</string>
                <key>spriteSourceSize</key>
                <string>{188,77}</string>
                <key>textureRect</key>
                <string>{{1846,726},{188,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,77}</string>
                <key>spriteSourceSize</key>
                <string>{184,77}</string>
                <key>textureRect</key>
                <string>{{1826,805},{184,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,69}</string>
                <key>spriteSourceSize</key>
                <string>{129,69}</string>
                <key>textureRect</key>
                <string>{{542,1978},{129,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,69}</string>
                <key>spriteSourceSize</key>
                <string>{132,69}</string>
                <key>textureRect</key>
                <string>{{408,1978},{132,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CalendarN_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,230}</string>
                <key>spriteSourceSize</key>
                <string>{405,230}</string>
                <key>textureRect</key>
                <string>{{1,1752},{405,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CalendarP_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,224}</string>
                <key>spriteSourceSize</key>
                <string>{398,224}</string>
                <key>textureRect</key>
                <string>{{408,1752},{398,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_img03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,191}</string>
                <key>spriteSourceSize</key>
                <string>{331,191}</string>
                <key>textureRect</key>
                <string>{{808,1752},{331,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{617,143},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1232,143},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{617,338},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1232,338},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1,372},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{616,533},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1,567},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1231,533},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{616,728},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1,762},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FactionBonus_label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,90}</string>
                <key>spriteSourceSize</key>
                <string>{165,90}</string>
                <key>textureRect</key>
                <string>{{173,1620},{165,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FactionBonus_label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,90}</string>
                <key>spriteSourceSize</key>
                <string>{170,90}</string>
                <key>textureRect</key>
                <string>{{1,1620},{170,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FactionBonus_label3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,90}</string>
                <key>spriteSourceSize</key>
                <string>{165,90}</string>
                <key>textureRect</key>
                <string>{{340,1620},{165,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FactionBonus_label4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,90}</string>
                <key>spriteSourceSize</key>
                <string>{165,90}</string>
                <key>textureRect</key>
                <string>{{836,1945},{165,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FactionBonus_label5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,90}</string>
                <key>spriteSourceSize</key>
                <string>{165,90}</string>
                <key>textureRect</key>
                <string>{{1003,1945},{165,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FashionShop_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,189}</string>
                <key>spriteSourceSize</key>
                <string>{403,189}</string>
                <key>textureRect</key>
                <string>{{1141,1692},{403,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FragmentsBundle2_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{401,184}</string>
                <key>spriteSourceSize</key>
                <string>{403,192}</string>
                <key>textureRect</key>
                <string>{{1546,1692},{401,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Free 888 Summons_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,228}</string>
                <key>spriteSourceSize</key>
                <string>{568,228}</string>
                <key>textureRect</key>
                <string>{{1190,974},{568,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Free 888 Summons_Text2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,242}</string>
                <key>spriteSourceSize</key>
                <string>{530,242}</string>
                <key>textureRect</key>
                <string>{{538,1280},{530,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Free 888 Summons_Text3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,242}</string>
                <key>spriteSourceSize</key>
                <string>{498,242}</string>
                <key>textureRect</key>
                <string>{{1070,1448},{498,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GuildLobby_Label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,66}</string>
                <key>spriteSourceSize</key>
                <string>{161,66}</string>
                <key>textureRect</key>
                <string>{{673,1978},{161,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Levekup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{571,71}</string>
                <key>spriteSourceSize</key>
                <string>{571,71}</string>
                <key>textureRect</key>
                <string>{{1,1035},{571,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_BannerE001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,155}</string>
                <key>spriteSourceSize</key>
                <string>{355,155}</string>
                <key>textureRect</key>
                <string>{{1527,1883},{355,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_BannerE002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,164}</string>
                <key>spriteSourceSize</key>
                <string>{355,164}</string>
                <key>textureRect</key>
                <string>{{1170,1883},{355,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1,1},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{676,1},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1351,1},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoneyCollection_img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,226}</string>
                <key>spriteSourceSize</key>
                <string>{491,226}</string>
                <key>textureRect</key>
                <string>{{512,1524},{491,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RarityUP_Success.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{571,76}</string>
                <key>spriteSourceSize</key>
                <string>{571,76}</string>
                <key>textureRect</key>
                <string>{{1,957},{571,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,272}</string>
                <key>spriteSourceSize</key>
                <string>{365,272}</string>
                <key>textureRect</key>
                <string>{{1675,1417},{365,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-4}</string>
                <key>spriteSize</key>
                <string>{254,143}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1760,1122},{254,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-2}</string>
                <key>spriteSize</key>
                <string>{188,141}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1847,216},{188,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-2}</string>
                <key>spriteSize</key>
                <string>{188,139}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1847,502},{188,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-2}</string>
                <key>spriteSize</key>
                <string>{188,141}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1847,359},{188,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_10501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-3}</string>
                <key>spriteSize</key>
                <string>{238,131}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1806,884},{238,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_11901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-88,-4}</string>
                <key>spriteSize</key>
                <string>{154,135}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1884,1878},{154,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_178.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{614,227}</string>
                <key>spriteSourceSize</key>
                <string>{614,227}</string>
                <key>textureRect</key>
                <string>{{1,143},{614,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_Memory_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{614,227}</string>
                <key>spriteSourceSize</key>
                <string>{614,227}</string>
                <key>textureRect</key>
                <string>{{1,143},{614,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower_Memu3_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,103}</string>
                <key>spriteSourceSize</key>
                <string>{265,103}</string>
                <key>textureRect</key>
                <string>{{1760,1017},{265,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelAchi_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{367,148}</string>
                <key>spriteSourceSize</key>
                <string>{367,148}</string>
                <key>textureRect</key>
                <string>{{1675,1267},{367,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_132_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{567,221}</string>
                <key>spriteSourceSize</key>
                <string>{567,221}</string>
                <key>textureRect</key>
                <string>{{574,1057},{567,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_171_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,132}</string>
                <key>spriteSourceSize</key>
                <string>{509,132}</string>
                <key>textureRect</key>
                <string>{{1,1486},{509,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_190_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,132}</string>
                <key>spriteSourceSize</key>
                <string>{510,132}</string>
                <key>textureRect</key>
                <string>{{1,1352},{510,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_191_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{572,132}</string>
                <key>spriteSourceSize</key>
                <string>{572,132}</string>
                <key>textureRect</key>
                <string>{{616,923},{572,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_192_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{573,132}</string>
                <key>spriteSourceSize</key>
                <string>{573,132}</string>
                <key>textureRect</key>
                <string>{{1231,840},{573,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{593,110}</string>
                <key>spriteSourceSize</key>
                <string>{593,110}</string>
                <key>textureRect</key>
                <string>{{1231,728},{593,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>i18n_tw_Banner2.png</string>
            <key>size</key>
            <string>{2045,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26118d1c893c3320027a56ccc5f1fd35:48be45ae8c8d66049745e66094621448:228f84c3582f5e1e4a63fe7be1cf7f16$</string>
            <key>textureFileName</key>
            <string>i18n_tw_Banner2.png</string>
        </dict>
    </dict>
</plist>
