<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DailyBundle_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,311}</string>
                <key>spriteSourceSize</key>
                <string>{440,311}</string>
                <key>textureRect</key>
                <string>{{528,1729},{440,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,279}</string>
                <key>spriteSourceSize</key>
                <string>{683,279}</string>
                <key>textureRect</key>
                <string>{{695,1},{683,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Growth_Player_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,294}</string>
                <key>spriteSourceSize</key>
                <string>{312,294}</string>
                <key>textureRect</key>
                <string>{{1240,1707},{312,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{676,1267},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1,1303},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1351,1281},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{676,1409},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1,1445},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1351,1423},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{676,1551},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1,1587},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1351,1565},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,160}</string>
                <key>spriteSourceSize</key>
                <string>{673,160}</string>
                <key>textureRect</key>
                <string>{{1351,1119},{673,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoneyCollection_img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,226}</string>
                <key>spriteSourceSize</key>
                <string>{491,226}</string>
                <key>textureRect</key>
                <string>{{1554,1707},{491,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MonthlyCard_Text3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{692,235}</string>
                <key>spriteSourceSize</key>
                <string>{692,235}</string>
                <key>textureRect</key>
                <string>{{1,1},{692,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StepBundle_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,335}</string>
                <key>spriteSourceSize</key>
                <string>{268,335}</string>
                <key>textureRect</key>
                <string>{{970,1693},{268,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StoryBundle_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,107}</string>
                <key>spriteSourceSize</key>
                <string>{463,107}</string>
                <key>textureRect</key>
                <string>{{1554,1935},{463,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle 01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,300}</string>
                <key>spriteSourceSize</key>
                <string>{674,300}</string>
                <key>textureRect</key>
                <string>{{1,238},{674,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle 02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,299}</string>
                <key>spriteSourceSize</key>
                <string>{674,299}</string>
                <key>textureRect</key>
                <string>{{677,282},{674,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle 03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,300}</string>
                <key>spriteSourceSize</key>
                <string>{673,300}</string>
                <key>textureRect</key>
                <string>{{1351,817},{673,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle 04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,300}</string>
                <key>spriteSourceSize</key>
                <string>{673,300}</string>
                <key>textureRect</key>
                <string>{{676,965},{673,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,380}</string>
                <key>spriteSourceSize</key>
                <string>{673,380}</string>
                <key>textureRect</key>
                <string>{{1,540},{673,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,380}</string>
                <key>spriteSourceSize</key>
                <string>{673,380}</string>
                <key>textureRect</key>
                <string>{{1353,435},{673,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,379}</string>
                <key>spriteSourceSize</key>
                <string>{673,379}</string>
                <key>textureRect</key>
                <string>{{1,922},{673,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,380}</string>
                <key>spriteSourceSize</key>
                <string>{673,380}</string>
                <key>textureRect</key>
                <string>{{676,583},{673,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{525,318}</string>
                <key>spriteSourceSize</key>
                <string>{525,318}</string>
                <key>textureRect</key>
                <string>{{1,1729},{525,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_178.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,227}</string>
                <key>spriteSourceSize</key>
                <string>{624,227}</string>
                <key>textureRect</key>
                <string>{{1380,206},{624,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Summon_Memory_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,227}</string>
                <key>spriteSourceSize</key>
                <string>{624,227}</string>
                <key>textureRect</key>
                <string>{{1380,206},{624,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_132_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{644,203}</string>
                <key>spriteSourceSize</key>
                <string>{644,203}</string>
                <key>textureRect</key>
                <string>{{1380,1},{644,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>i18n_cn_Banner0.png</string>
            <key>size</key>
            <string>{2046,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd7710b3260c75a105986127dca27893:8146feecf16e06276c252c22b2e94934:465fb42245b3175b02730448c72aa5f3$</string>
            <key>textureFileName</key>
            <string>i18n_cn_Banner0.png</string>
        </dict>
    </dict>
</plist>
