<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Album_Name01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,72}</string>
                <key>spriteSourceSize</key>
                <string>{243,72}</string>
                <key>textureRect</key>
                <string>{{833,1723},{243,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,78}</string>
                <key>spriteSourceSize</key>
                <string>{127,78}</string>
                <key>textureRect</key>
                <string>{{1846,138},{127,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,81}</string>
                <key>spriteSourceSize</key>
                <string>{188,81}</string>
                <key>textureRect</key>
                <string>{{1147,1538},{188,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,73}</string>
                <key>spriteSourceSize</key>
                <string>{253,73}</string>
                <key>textureRect</key>
                <string>{{1348,1247},{253,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,74}</string>
                <key>spriteSourceSize</key>
                <string>{240,74}</string>
                <key>textureRect</key>
                <string>{{833,1938},{240,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,78}</string>
                <key>spriteSourceSize</key>
                <string>{124,78}</string>
                <key>textureRect</key>
                <string>{{406,1164},{124,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CalendarN_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,229}</string>
                <key>spriteSourceSize</key>
                <string>{396,229}</string>
                <key>textureRect</key>
                <string>{{1604,1190},{396,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CalendarP_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,224}</string>
                <key>spriteSourceSize</key>
                <string>{398,224}</string>
                <key>textureRect</key>
                <string>{{948,1171},{398,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coliseum_Label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,74}</string>
                <key>spriteSourceSize</key>
                <string>{254,74}</string>
                <key>textureRect</key>
                <string>{{1348,1171},{254,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coliseum_Label3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,75}</string>
                <key>spriteSourceSize</key>
                <string>{260,75}</string>
                <key>textureRect</key>
                <string>{{1731,643},{260,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coliseum_Label4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,73}</string>
                <key>spriteSourceSize</key>
                <string>{248,73}</string>
                <key>textureRect</key>
                <string>{{1075,1903},{248,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1,1},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{616,1},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1231,1},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1,196},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{616,196},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FactionBonus_label4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,90}</string>
                <key>spriteSourceSize</key>
                <string>{165,90}</string>
                <key>textureRect</key>
                <string>{{649,1746},{165,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FactionBonus_label5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,90}</string>
                <key>spriteSourceSize</key>
                <string>{165,90}</string>
                <key>textureRect</key>
                <string>{{173,1658},{165,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FashionShop_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,192}</string>
                <key>spriteSourceSize</key>
                <string>{413,192}</string>
                <key>textureRect</key>
                <string>{{533,1089},{413,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FragmentsBundle1_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,192}</string>
                <key>spriteSourceSize</key>
                <string>{403,192}</string>
                <key>textureRect</key>
                <string>{{1602,1421},{395,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FragmentsBundle2_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{403,184}</string>
                <key>spriteSourceSize</key>
                <string>{403,192}</string>
                <key>textureRect</key>
                <string>{{1,1164},{403,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FragmentsBundle3_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{387,184}</string>
                <key>spriteSourceSize</key>
                <string>{403,192}</string>
                <key>textureRect</key>
                <string>{{1614,1004},{387,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Free 888 Summons_Text2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,242}</string>
                <key>spriteSourceSize</key>
                <string>{530,242}</string>
                <key>textureRect</key>
                <string>{{1,920},{530,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroSummon_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{553,192}</string>
                <key>spriteSourceSize</key>
                <string>{553,192}</string>
                <key>textureRect</key>
                <string>{{559,602},{553,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Levekup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{571,71}</string>
                <key>spriteSourceSize</key>
                <string>{571,71}</string>
                <key>textureRect</key>
                <string>{{1169,464},{571,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_BannerE001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,155}</string>
                <key>spriteSourceSize</key>
                <string>{355,155}</string>
                <key>textureRect</key>
                <string>{{364,1422},{355,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_BannerE002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,167}</string>
                <key>spriteSourceSize</key>
                <string>{359,167}</string>
                <key>textureRect</key>
                <string>{{786,1397},{359,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_BannerE003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,155}</string>
                <key>spriteSourceSize</key>
                <string>{355,155}</string>
                <key>textureRect</key>
                <string>{{1,1501},{355,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_BannerE004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,155}</string>
                <key>spriteSourceSize</key>
                <string>{355,155}</string>
                <key>textureRect</key>
                <string>{{721,1566},{355,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MiningIAP_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,81}</string>
                <key>spriteSourceSize</key>
                <string>{236,81}</string>
                <key>textureRect</key>
                <string>{{173,1797},{236,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MiningLayerDrops_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,81}</string>
                <key>spriteSourceSize</key>
                <string>{236,81}</string>
                <key>textureRect</key>
                <string>{{411,1797},{236,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NewHeroJ_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,165}</string>
                <key>spriteSourceSize</key>
                <string>{353,165}</string>
                <key>textureRect</key>
                <string>{{358,1579},{353,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Power Achievement_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,137}</string>
                <key>spriteSourceSize</key>
                <string>{378,137}</string>
                <key>textureRect</key>
                <string>{{406,1283},{378,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RarityUP_Success.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{571,76}</string>
                <key>spriteSourceSize</key>
                <string>{571,76}</string>
                <key>textureRect</key>
                <string>{{596,391},{571,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonFriend_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{543,157}</string>
                <key>spriteSourceSize</key>
                <string>{543,157}</string>
                <key>textureRect</key>
                <string>{{556,796},{543,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-4}</string>
                <key>spriteSize</key>
                <string>{254,143}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1742,498},{254,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{332,143}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1664,720},{332,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,0}</string>
                <key>spriteSize</key>
                <string>{238,135}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{251,1882},{238,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-2}</string>
                <key>spriteSize</key>
                <string>{248,139}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1078,1621},{248,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-3}</string>
                <key>spriteSize</key>
                <string>{250,141}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1337,1459},{250,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-2}</string>
                <key>spriteSize</key>
                <string>{188,139}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1147,1397},{188,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_10401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{332,137}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1664,865},{332,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_10501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-2}</string>
                <key>spriteSize</key>
                <string>{238,131}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1328,1882},{238,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_10601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,-7}</string>
                <key>spriteSize</key>
                <string>{166,139}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1835,218},{166,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_10701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-4}</string>
                <key>spriteSize</key>
                <string>{248,135}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1,1882},{248,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_10901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-7}</string>
                <key>spriteSize</key>
                <string>{240,139}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{833,1797},{240,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_11001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{332,137}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1578,1748},{332,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_11301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,-3}</string>
                <key>spriteSize</key>
                <string>{170,133}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1,1746},{170,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_11401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-5}</string>
                <key>spriteSize</key>
                <string>{250,137}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1337,1602},{250,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_11501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,-5}</string>
                <key>spriteSize</key>
                <string>{170,135}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{491,1882},{170,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_11601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-5}</string>
                <key>spriteSize</key>
                <string>{252,135}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1348,1322},{252,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_11901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-88,-4}</string>
                <key>spriteSize</key>
                <string>{154,135}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1846,1},{154,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_12001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,-5}</string>
                <key>spriteSize</key>
                <string>{174,137}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1826,359},{174,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_12101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-6}</string>
                <key>spriteSize</key>
                <string>{248,139}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1328,1741},{248,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_12201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,-5}</string>
                <key>spriteSize</key>
                <string>{168,135}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{663,1882},{168,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_12401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-7}</string>
                <key>spriteSize</key>
                <string>{248,139}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1078,1762},{248,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPremium_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{553,192}</string>
                <key>spriteSourceSize</key>
                <string>{553,192}</string>
                <key>textureRect</key>
                <string>{{1,726},{553,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelAchi_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,149}</string>
                <key>spriteSourceSize</key>
                <string>{361,149}</string>
                <key>textureRect</key>
                <string>{{1,1350},{361,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_151_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,131}</string>
                <key>spriteSourceSize</key>
                <string>{359,131}</string>
                <key>textureRect</key>
                <string>{{1589,1615},{359,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_152_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,132}</string>
                <key>spriteSourceSize</key>
                <string>{511,132}</string>
                <key>textureRect</key>
                <string>{{1101,903},{511,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_170_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,132}</string>
                <key>spriteSourceSize</key>
                <string>{511,132}</string>
                <key>textureRect</key>
                <string>{{533,955},{511,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_171_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,132}</string>
                <key>spriteSourceSize</key>
                <string>{509,132}</string>
                <key>textureRect</key>
                <string>{{1046,1037},{509,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_191_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{565,131}</string>
                <key>spriteSourceSize</key>
                <string>{565,131}</string>
                <key>textureRect</key>
                <string>{{1164,537},{565,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_192_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{566,131}</string>
                <key>spriteSourceSize</key>
                <string>{566,131}</string>
                <key>textureRect</key>
                <string>{{596,469},{566,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_2511_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,221}</string>
                <key>spriteSourceSize</key>
                <string>{556,221}</string>
                <key>textureRect</key>
                <string>{{1,503},{556,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_2513_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,231}</string>
                <key>spriteSourceSize</key>
                <string>{548,231}</string>
                <key>textureRect</key>
                <string>{{1114,670},{548,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_2514_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{593,132}</string>
                <key>spriteSourceSize</key>
                <string>{593,132}</string>
                <key>textureRect</key>
                <string>{{1231,330},{593,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_2515_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{602,132}</string>
                <key>spriteSourceSize</key>
                <string>{602,132}</string>
                <key>textureRect</key>
                <string>{{1231,196},{602,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{593,110}</string>
                <key>spriteSourceSize</key>
                <string>{593,110}</string>
                <key>textureRect</key>
                <string>{{1,391},{593,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>i18n_cn_Banner3.png</string>
            <key>size</key>
            <string>{2002,2018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd7710b3260c75a105986127dca27893:8146feecf16e06276c252c22b2e94934:465fb42245b3175b02730448c72aa5f3$</string>
            <key>textureFileName</key>
            <string>i18n_cn_Banner3.png</string>
        </dict>
    </dict>
</plist>
