<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>900 Summons_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,242}</string>
                <key>spriteSourceSize</key>
                <string>{530,242}</string>
                <key>textureRect</key>
                <string>{{1420,957},{530,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,64}</string>
                <key>spriteSourceSize</key>
                <string>{181,64}</string>
                <key>textureRect</key>
                <string>{{351,1807},{181,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,81}</string>
                <key>spriteSourceSize</key>
                <string>{188,81}</string>
                <key>textureRect</key>
                <string>{{1180,774},{188,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,72}</string>
                <key>spriteSourceSize</key>
                <string>{117,72}</string>
                <key>textureRect</key>
                <string>{{1370,774},{117,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArenaLobby2_label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,63}</string>
                <key>spriteSourceSize</key>
                <string>{160,63}</string>
                <key>textureRect</key>
                <string>{{534,1807},{160,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_Monthly_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,361}</string>
                <key>spriteSourceSize</key>
                <string>{279,361}</string>
                <key>textureRect</key>
                <string>{{1,427},{279,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,311}</string>
                <key>spriteSourceSize</key>
                <string>{440,311}</string>
                <key>textureRect</key>
                <string>{{282,956},{440,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_Weekly_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,361}</string>
                <key>spriteSourceSize</key>
                <string>{279,361}</string>
                <key>textureRect</key>
                <string>{{1,790},{279,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_daily_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,361}</string>
                <key>spriteSourceSize</key>
                <string>{279,361}</string>
                <key>textureRect</key>
                <string>{{1,1153},{279,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_Img1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,170}</string>
                <key>spriteSourceSize</key>
                <string>{328,170}</string>
                <key>textureRect</key>
                <string>{{1,1873},{328,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_Img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,170}</string>
                <key>spriteSourceSize</key>
                <string>{328,170}</string>
                <key>textureRect</key>
                <string>{{331,1873},{328,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Free 888 Summons_Text3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{586,242}</string>
                <key>spriteSourceSize</key>
                <string>{586,242}</string>
                <key>textureRect</key>
                <string>{{282,1269},{586,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Growth_Player_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,294}</string>
                <key>spriteSourceSize</key>
                <string>{312,294}</string>
                <key>textureRect</key>
                <string>{{552,619},{312,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Growth_Story_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,294}</string>
                <key>spriteSourceSize</key>
                <string>{312,294}</string>
                <key>textureRect</key>
                <string>{{724,915},{312,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Growth_TowerOnelife_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,278}</string>
                <key>spriteSourceSize</key>
                <string>{327,278}</string>
                <key>textureRect</key>
                <string>{{1251,1745},{327,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Growth_TowerVer2_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,294}</string>
                <key>spriteSourceSize</key>
                <string>{312,294}</string>
                <key>textureRect</key>
                <string>{{866,569},{312,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Growth_Tower_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,254}</string>
                <key>spriteSourceSize</key>
                <string>{380,254}</string>
                <key>textureRect</key>
                <string>{{1038,955},{380,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroSummon_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{553,192}</string>
                <key>spriteSourceSize</key>
                <string>{553,192}</string>
                <key>textureRect</key>
                <string>{{1490,569},{553,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_BannerE001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,155}</string>
                <key>spriteSourceSize</key>
                <string>{355,155}</string>
                <key>textureRect</key>
                <string>{{877,1647},{355,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1,1},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{676,1},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1351,1},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1,143},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{676,143},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1351,143},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1,285},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{676,285},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1351,285},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{661,427},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1336,427},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Login8Days_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{453,159}</string>
                <key>spriteSourceSize</key>
                <string>{453,159}</string>
                <key>textureRect</key>
                <string>{{1580,1866},{453,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Login8Days_label01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{618,284}</string>
                <key>spriteSourceSize</key>
                <string>{618,284}</string>
                <key>textureRect</key>
                <string>{{870,1211},{618,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MiningIAP_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,81}</string>
                <key>spriteSourceSize</key>
                <string>{236,81}</string>
                <key>textureRect</key>
                <string>{{1251,1497},{236,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MiningLayerDrops_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,81}</string>
                <key>spriteSourceSize</key>
                <string>{236,81}</string>
                <key>textureRect</key>
                <string>{{1251,1580},{236,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MiningQuest_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,80}</string>
                <key>spriteSourceSize</key>
                <string>{236,80}</string>
                <key>textureRect</key>
                <string>{{1251,1663},{236,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MonthlyCard_Text1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,96}</string>
                <key>spriteSourceSize</key>
                <string>{304,96}</string>
                <key>textureRect</key>
                <string>{{351,427},{304,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MonthlyCard_Text2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,92}</string>
                <key>spriteSourceSize</key>
                <string>{304,92}</string>
                <key>textureRect</key>
                <string>{{351,525},{304,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NewPlayerMilestone_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,355}</string>
                <key>spriteSourceSize</key>
                <string>{348,355}</string>
                <key>textureRect</key>
                <string>{{1,1516},{348,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RechargeBounce_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,292}</string>
                <key>spriteSourceSize</key>
                <string>{524,292}</string>
                <key>textureRect</key>
                <string>{{351,1513},{524,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StepBundle_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,335}</string>
                <key>spriteSourceSize</key>
                <string>{268,335}</string>
                <key>textureRect</key>
                <string>{{282,619},{268,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StoryBundle_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,88}</string>
                <key>spriteSourceSize</key>
                <string>{446,88}</string>
                <key>textureRect</key>
                <string>{{1038,865},{446,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonArms_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{543,157}</string>
                <key>spriteSourceSize</key>
                <string>{543,157}</string>
                <key>textureRect</key>
                <string>{{1490,1201},{543,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonFriend_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{543,157}</string>
                <key>spriteSourceSize</key>
                <string>{543,157}</string>
                <key>textureRect</key>
                <string>{{1490,1360},{543,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPremium_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{553,192}</string>
                <key>spriteSourceSize</key>
                <string>{553,192}</string>
                <key>textureRect</key>
                <string>{{1490,763},{553,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower_Memu1_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,119}</string>
                <key>spriteSourceSize</key>
                <string>{463,119}</string>
                <key>textureRect</key>
                <string>{{1580,1745},{463,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower_Memu3_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,103}</string>
                <key>spriteSourceSize</key>
                <string>{265,103}</string>
                <key>textureRect</key>
                <string>{{1180,669},{265,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower_Memu4_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,98}</string>
                <key>spriteSourceSize</key>
                <string>{270,98}</string>
                <key>textureRect</key>
                <string>{{1180,569},{270,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelAchi_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{367,148}</string>
                <key>spriteSourceSize</key>
                <string>{367,148}</string>
                <key>textureRect</key>
                <string>{{877,1497},{367,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_2511_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,224}</string>
                <key>spriteSourceSize</key>
                <string>{558,224}</string>
                <key>textureRect</key>
                <string>{{1489,1519},{558,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_2513_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{553,231}</string>
                <key>spriteSourceSize</key>
                <string>{553,231}</string>
                <key>textureRect</key>
                <string>{{696,1807},{553,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>i18n_tw_Banner1.png</string>
            <key>size</key>
            <string>{2048,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25bf84118418e1cfd294165cc213726c:08d92c088b30345ebd675c0d84d3ac88:5a57394b434f594b48ce091aa87f4c88$</string>
            <key>textureFileName</key>
            <string>i18n_tw_Banner1.png</string>
        </dict>
    </dict>
</plist>
