<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AWS_Card2_T1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{657,1143}</string>
                <key>spriteSourceSize</key>
                <string>{657,1143}</string>
                <key>textureRect</key>
                <string>{{1,1},{657,1143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Card2_T2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{657,1143}</string>
                <key>spriteSourceSize</key>
                <string>{657,1143}</string>
                <key>textureRect</key>
                <string>{{660,1},{657,1143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Card2_T3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{657,1143}</string>
                <key>spriteSourceSize</key>
                <string>{657,1143}</string>
                <key>textureRect</key>
                <string>{{1319,1},{657,1143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Card_T1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{657,858}</string>
                <key>spriteSourceSize</key>
                <string>{657,858}</string>
                <key>textureRect</key>
                <string>{{1,1146},{657,858}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Card_T2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{657,858}</string>
                <key>spriteSourceSize</key>
                <string>{657,858}</string>
                <key>textureRect</key>
                <string>{{660,1146},{657,858}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Card_T3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{657,858}</string>
                <key>spriteSourceSize</key>
                <string>{657,858}</string>
                <key>textureRect</key>
                <string>{{1319,1146},{657,858}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AWS0.png</string>
            <key>size</key>
            <string>{1977,2005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c987008a60640f99cf7fb43898c8ce0:b50f1272b17b826a960942216ab2c57d:751031ec1dcada43098366588cf7e3b0$</string>
            <key>textureFileName</key>
            <string>AWS0.png</string>
        </dict>
    </dict>
</plist>
