<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AWS_Bar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,41}</string>
                <key>spriteSourceSize</key>
                <string>{100,41}</string>
                <key>textureRect</key>
                <string>{{636,1149},{100,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Bar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,46}</string>
                <key>spriteSourceSize</key>
                <string>{105,46}</string>
                <key>textureRect</key>
                <string>{{529,1183},{105,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Bar3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,46}</string>
                <key>spriteSourceSize</key>
                <string>{105,46}</string>
                <key>textureRect</key>
                <string>{{578,1101},{105,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Card2_img1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,104}</string>
                <key>spriteSourceSize</key>
                <string>{123,104}</string>
                <key>textureRect</key>
                <string>{{124,1101},{123,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Icon01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{393,1193},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Icon02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{427,1193},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Icon03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{461,1193},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Icon04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{495,1193},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Icon05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{528,1151},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Img01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,408}</string>
                <key>spriteSourceSize</key>
                <string>{408,408}</string>
                <key>textureRect</key>
                <string>{{1295,1},{408,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Img01_T1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,408}</string>
                <key>spriteSourceSize</key>
                <string>{408,408}</string>
                <key>textureRect</key>
                <string>{{1295,411},{408,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Img01_T2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,408}</string>
                <key>spriteSourceSize</key>
                <string>{408,408}</string>
                <key>textureRect</key>
                <string>{{738,821},{408,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Img01_T3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,408}</string>
                <key>spriteSourceSize</key>
                <string>{408,408}</string>
                <key>textureRect</key>
                <string>{{1148,821},{408,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{528,1101},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Tag_T1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,90}</string>
                <key>spriteSourceSize</key>
                <string>{91,90}</string>
                <key>textureRect</key>
                <string>{{249,1101},{91,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Tag_T2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,90}</string>
                <key>spriteSourceSize</key>
                <string>{91,90}</string>
                <key>textureRect</key>
                <string>{{342,1101},{91,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_Tag_T3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,90}</string>
                <key>spriteSourceSize</key>
                <string>{91,90}</string>
                <key>textureRect</key>
                <string>{{435,1101},{91,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_arrow.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,126}</string>
                <key>spriteSourceSize</key>
                <string>{121,126}</string>
                <key>textureRect</key>
                <string>{{1,1101},{121,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_star_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{249,1193},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_star_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{285,1193},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_star_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{321,1193},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AWS_star_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{357,1193},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mask_AWS_Card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,796}</string>
                <key>spriteSourceSize</key>
                <string>{645,796}</string>
                <key>textureRect</key>
                <string>{{648,1},{645,796}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mask_AWS_Card2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,1098}</string>
                <key>spriteSourceSize</key>
                <string>{645,1098}</string>
                <key>textureRect</key>
                <string>{{1,1},{645,1098}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AWS1.png</string>
            <key>size</key>
            <string>{1704,1230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c987008a60640f99cf7fb43898c8ce0:b50f1272b17b826a960942216ab2c57d:751031ec1dcada43098366588cf7e3b0$</string>
            <key>textureFileName</key>
            <string>AWS1.png</string>
        </dict>
    </dict>
</plist>
