<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rune_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{128,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{1073,1},{128,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rune_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{409,1},{132,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rune_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{130,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{677,1},{130,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rune_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{128,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{1203,1},{128,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rune_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{132,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{543,1},{132,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rune_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{809,1},{130,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rune_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{124,132}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{1721,1},{124,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rune_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{126,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{1593,1},{126,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rune_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{124,132}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{1847,1},{124,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rune_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{128,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{1333,1},{128,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rune_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{130,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{941,1},{130,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rune_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{128,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{1463,1},{128,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rune_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{1,1},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rune_5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{137,1},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rune_5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{273,1},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BadgeIcon0.png</string>
            <key>size</key>
            <string>{1972,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5529835be459489c5026fb7182c4243:06c6f35e969e9169b8e98a1b6a9e23a4:db27b3add505dfa658546d3df1a9f87b$</string>
            <key>textureFileName</key>
            <string>BadgeIcon0.png</string>
        </dict>
    </dict>
</plist>
