<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EventNews_Btn1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{750,487},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_Btn1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{750,433},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GuildFight1_bar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,9}</string>
                <key>spriteSourceSize</key>
                <string>{45,9}</string>
                <key>textureRect</key>
                <string>{{616,508},{45,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GuildFight1_bar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,18}</string>
                <key>spriteSourceSize</key>
                <string>{54,18}</string>
                <key>textureRect</key>
                <string>{{713,413},{54,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GuildFight1_bar2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,19}</string>
                <key>spriteSourceSize</key>
                <string>{9,19}</string>
                <key>textureRect</key>
                <string>{{604,346},{9,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GuildFight1_bar2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,19}</string>
                <key>spriteSourceSize</key>
                <string>{37,19}</string>
                <key>textureRect</key>
                <string>{{663,508},{37,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Guildbanner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,193}</string>
                <key>spriteSourceSize</key>
                <string>{202,193}</string>
                <key>textureRect</key>
                <string>{{604,1},{202,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,93}</string>
                <key>spriteSourceSize</key>
                <string>{95,93}</string>
                <key>textureRect</key>
                <string>{{616,346},{95,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ranking_no1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{616,441},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ranking_no2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{683,441},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ranking_no3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,65}</string>
                <key>spriteSourceSize</key>
                <string>{64,65}</string>
                <key>textureRect</key>
                <string>{{713,346},{64,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_icon01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{616,519},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_icon01_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{702,508},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_icon02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{747,196},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_icon02_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{747,230},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_icon03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{747,264},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_icon03_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{747,298},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_icon04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{779,332},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_icon04_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{779,366},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_ui03_diban_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,121}</string>
                <key>spriteSourceSize</key>
                <string>{613,121}</string>
                <key>textureRect</key>
                <string>{{1,437},{613,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_img1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,14}</string>
                <key>spriteSize</key>
                <string>{141,148}</string>
                <key>spriteSourceSize</key>
                <string>{233,176}</string>
                <key>textureRect</key>
                <string>{{604,196},{141,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend_img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,434}</string>
                <key>spriteSourceSize</key>
                <string>{601,434}</string>
                <key>textureRect</key>
                <string>{{1,1},{601,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Common_UI030.png</string>
            <key>size</key>
            <string>{807,559}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1eeb1e5a887ca9ceb18e4236fadec096:995cc9847d97ccb7e7ef2f661be8a8ff:78ab989ec514c01fda4768435148830d$</string>
            <key>textureFileName</key>
            <string>Common_UI030.png</string>
        </dict>
    </dict>
</plist>
