<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GloryHole_Title_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{501,147}</string>
                <key>spriteSourceSize</key>
                <string>{501,155}</string>
                <key>textureRect</key>
                <string>{{1442,1040},{501,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{1442,1189},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1824,915},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{1515,1189},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn02_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{1588,1189},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn02_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,72}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{1961,1702},{71,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn03_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{1810,315},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn03_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1961,1628},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn05_NB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,81}</string>
                <key>spriteSourceSize</key>
                <string>{248,81}</string>
                <key>textureRect</key>
                <string>{{1751,149},{248,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn05_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,81}</string>
                <key>spriteSourceSize</key>
                <string>{248,81}</string>
                <key>textureRect</key>
                <string>{{1751,232},{248,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,77}</string>
                <key>spriteSourceSize</key>
                <string>{299,77}</string>
                <key>textureRect</key>
                <string>{{723,1962},{299,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,130}</string>
                <key>spriteSourceSize</key>
                <string>{320,130}</string>
                <key>textureRect</key>
                <string>{{1717,1496},{320,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{626,171}</string>
                <key>spriteSourceSize</key>
                <string>{720,189}</string>
                <key>textureRect</key>
                <string>{{723,1656},{626,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,799}</string>
                <key>spriteSourceSize</key>
                <string>{720,799}</string>
                <key>textureRect</key>
                <string>{{1,1219},{720,799}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,152}</string>
                <key>spriteSourceSize</key>
                <string>{316,152}</string>
                <key>textureRect</key>
                <string>{{1717,1189},{316,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,151}</string>
                <key>spriteSourceSize</key>
                <string>{316,151}</string>
                <key>textureRect</key>
                <string>{{1717,1343},{316,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{608,147}</string>
                <key>spriteSourceSize</key>
                <string>{608,147}</string>
                <key>textureRect</key>
                <string>{{1351,1662},{608,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,291}</string>
                <key>spriteSourceSize</key>
                <string>{304,291}</string>
                <key>textureRect</key>
                <string>{{1442,747},{304,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_item01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{91,87}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{1748,747},{91,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_item03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{74,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1748,915},{74,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,146}</string>
                <key>spriteSourceSize</key>
                <string>{272,146}</string>
                <key>textureRect</key>
                <string>{{1751,1},{272,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Touch01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,365}</string>
                <key>spriteSourceSize</key>
                <string>{366,365}</string>
                <key>textureRect</key>
                <string>{{1442,380},{366,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Combo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,69}</string>
                <key>spriteSourceSize</key>
                <string>{127,69}</string>
                <key>textureRect</key>
                <string>{{1162,1962},{127,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,131}</string>
                <key>spriteSourceSize</key>
                <string>{624,131}</string>
                <key>textureRect</key>
                <string>{{1351,1811},{624,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,131}</string>
                <key>spriteSourceSize</key>
                <string>{624,131}</string>
                <key>textureRect</key>
                <string>{{723,1829},{624,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_bg02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,32}</string>
                <key>spriteSize</key>
                <string>{720,1216}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_bg05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{717,1280}</string>
                <key>spriteSourceSize</key>
                <string>{717,1280}</string>
                <key>textureRect</key>
                <string>{{723,1},{717,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_mission_img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,77}</string>
                <key>spriteSourceSize</key>
                <string>{328,77}</string>
                <key>textureRect</key>
                <string>{{1349,1944},{328,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_mission_img3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,77}</string>
                <key>spriteSourceSize</key>
                <string>{328,77}</string>
                <key>textureRect</key>
                <string>{{1679,1944},{328,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_mission_img7_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,63}</string>
                <key>spriteSourceSize</key>
                <string>{136,63}</string>
                <key>textureRect</key>
                <string>{{1024,1962},{136,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_mission_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,77}</string>
                <key>spriteSourceSize</key>
                <string>{110,77}</string>
                <key>textureRect</key>
                <string>{{1748,836},{110,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_team01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,377}</string>
                <key>spriteSourceSize</key>
                <string>{307,377}</string>
                <key>textureRect</key>
                <string>{{1408,1283},{307,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_team02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,377}</string>
                <key>spriteSourceSize</key>
                <string>{307,377}</string>
                <key>textureRect</key>
                <string>{{1442,1},{307,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>message_GH_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,371}</string>
                <key>spriteSourceSize</key>
                <string>{683,371}</string>
                <key>textureRect</key>
                <string>{{723,1283},{683,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GloryHole2.png</string>
            <key>size</key>
            <string>{2038,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:009f335d9420b51eace414a0997710db:c04d683516eae8e363e19df0e5d578ea:f82c56f79c88abdb0031da738d65b93a$</string>
            <key>textureFileName</key>
            <string>GloryHole2.png</string>
        </dict>
    </dict>
</plist>
