<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BattleTeam_Btm01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,51}</string>
                <key>spriteSourceSize</key>
                <string>{105,51}</string>
                <key>textureRect</key>
                <string>{{1708,950},{105,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BattleTeam_Btm01_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,50}</string>
                <key>spriteSourceSize</key>
                <string>{106,50}</string>
                <key>textureRect</key>
                <string>{{1328,932},{106,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BattleTeam_Btm01_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,51}</string>
                <key>spriteSourceSize</key>
                <string>{105,51}</string>
                <key>textureRect</key>
                <string>{{1671,1003},{105,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BattleTeam_Img01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,383}</string>
                <key>spriteSourceSize</key>
                <string>{721,383}</string>
                <key>textureRect</key>
                <string>{{686,1},{721,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BattleTeam_Img02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,67}</string>
                <key>spriteSourceSize</key>
                <string>{262,67}</string>
                <key>textureRect</key>
                <string>{{1444,852},{262,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BattleTeam_Img02_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,67}</string>
                <key>spriteSourceSize</key>
                <string>{262,67}</string>
                <key>textureRect</key>
                <string>{{1444,921},{262,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BattleTeam_Img03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,155}</string>
                <key>spriteSourceSize</key>
                <string>{171,155}</string>
                <key>textureRect</key>
                <string>{{1773,84},{171,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BattleTeam_Img04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,310}</string>
                <key>spriteSourceSize</key>
                <string>{690,310}</string>
                <key>textureRect</key>
                <string>{{1,643},{690,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BattleTeam_Img05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{76,78}</string>
                <key>textureRect</key>
                <string>{{1815,950},{76,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BattleTeam_Img06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{496,33}</string>
                <key>spriteSourceSize</key>
                <string>{530,33}</string>
                <key>textureRect</key>
                <string>{{637,983},{496,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Costume_UI_img_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,167}</string>
                <key>spriteSourceSize</key>
                <string>{362,167}</string>
                <key>textureRect</key>
                <string>{{1409,84},{362,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Costume_UI_img_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,258}</string>
                <key>spriteSourceSize</key>
                <string>{721,258}</string>
                <key>textureRect</key>
                <string>{{693,530},{721,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Costume_UI_img_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1810,241},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Costume_UI_img_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1080,1018},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroBio_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,93}</string>
                <key>spriteSourceSize</key>
                <string>{95,93}</string>
                <key>textureRect</key>
                <string>{{1411,990},{95,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroBio_icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1898,378},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroBio_icon1_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1898,412},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroBio_icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{1715,394},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroBio_icon2_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{1900,610},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroBio_img_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,640}</string>
                <key>spriteSourceSize</key>
                <string>{683,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{683,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroBio_img_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,77}</string>
                <key>spriteSourceSize</key>
                <string>{327,77}</string>
                <key>textureRect</key>
                <string>{{637,1018},{327,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroBio_img_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,74}</string>
                <key>spriteSourceSize</key>
                <string>{325,74}</string>
                <key>textureRect</key>
                <string>{{1409,253},{325,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroBio_img_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,19}</string>
                <key>spriteSourceSize</key>
                <string>{44,19}</string>
                <key>textureRect</key>
                <string>{{637,955},{44,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroBio_img_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{573,7}</string>
                <key>spriteSourceSize</key>
                <string>{573,7}</string>
                <key>textureRect</key>
                <string>{{1,1071},{573,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_Arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,69}</string>
                <key>spriteSourceSize</key>
                <string>{41,69}</string>
                <key>textureRect</key>
                <string>{{1891,1},{41,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_Equipment_icon01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,96}</string>
                <key>spriteSourceSize</key>
                <string>{97,96}</string>
                <key>textureRect</key>
                <string>{{1312,984},{97,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_Equipment_icon02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,81}</string>
                <key>spriteSourceSize</key>
                <string>{80,81}</string>
                <key>textureRect</key>
                <string>{{1508,990},{80,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_Equipment_icon03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{1590,990},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_Equipment_icon04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{1752,1056},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_Equipment_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{634,114}</string>
                <key>spriteSourceSize</key>
                <string>{634,114}</string>
                <key>textureRect</key>
                <string>{{1,955},{634,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_LevelUp_icon05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1638,452},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_LevelUp_icon07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1778,1003},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_Level_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,56}</string>
                <key>spriteSourceSize</key>
                <string>{305,56}</string>
                <key>textureRect</key>
                <string>{{1408,394},{305,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_StarUp_icon06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{1898,512},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_StarUp_icon07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,35}</string>
                <key>spriteSourceSize</key>
                <string>{33,35}</string>
                <key>textureRect</key>
                <string>{{1835,695},{33,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{633,42}</string>
                <key>spriteSourceSize</key>
                <string>{633,42}</string>
                <key>textureRect</key>
                <string>{{693,939},{633,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_btn_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1810,318},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_btn_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1744,396},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_btn_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1744,473},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_btn_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1821,395},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_btn_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{1887,298},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_btn_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{1870,695},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_btn_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{1863,760},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_btn_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1821,472},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_ht_dingbu_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,81}</string>
                <key>spriteSourceSize</key>
                <string>{480,81}</string>
                <key>textureRect</key>
                <string>{{1409,1},{480,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_showSpine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,250}</string>
                <key>spriteSourceSize</key>
                <string>{220,250}</string>
                <key>textureRect</key>
                <string>{{1416,452},{220,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroPage_title_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,63}</string>
                <key>spriteSourceSize</key>
                <string>{334,63}</string>
                <key>textureRect</key>
                <string>{{1409,329},{334,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_Bar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,74}</string>
                <key>spriteSourceSize</key>
                <string>{112,74}</string>
                <key>textureRect</key>
                <string>{{966,1018},{112,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_Bar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,33}</string>
                <key>spriteSourceSize</key>
                <string>{79,33}</string>
                <key>textureRect</key>
                <string>{{1671,1056},{79,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_Collection.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{1898,446},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_Collection_On.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{1898,479},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_Hero.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{1900,644},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_Hero_On.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{1787,1039},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_gallery.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,31}</string>
                <key>spriteSourceSize</key>
                <string>{28,31}</string>
                <key>textureRect</key>
                <string>{{1898,544},{28,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_gallery_On.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,31}</string>
                <key>spriteSourceSize</key>
                <string>{28,31}</string>
                <key>textureRect</key>
                <string>{{1898,577},{28,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,67}</string>
                <key>spriteSourceSize</key>
                <string>{63,67}</string>
                <key>textureRect</key>
                <string>{{1745,327},{63,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,67}</string>
                <key>spriteSourceSize</key>
                <string>{63,67}</string>
                <key>textureRect</key>
                <string>{{1835,626},{63,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,142}</string>
                <key>spriteSourceSize</key>
                <string>{720,142}</string>
                <key>textureRect</key>
                <string>{{686,386},{720,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_img3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,72}</string>
                <key>spriteSourceSize</key>
                <string>{240,72}</string>
                <key>textureRect</key>
                <string>{{1416,704},{240,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_img4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,72}</string>
                <key>spriteSourceSize</key>
                <string>{240,72}</string>
                <key>textureRect</key>
                <string>{{1444,778},{240,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_team.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1821,549},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_ht_activity_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,147}</string>
                <key>spriteSourceSize</key>
                <string>{607,147}</string>
                <key>textureRect</key>
                <string>{{693,790},{607,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_ht_arrow_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1887,241},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mercenary_choose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,58}</string>
                <key>spriteSourceSize</key>
                <string>{71,58}</string>
                <key>textureRect</key>
                <string>{{1814,1030},{71,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mercenary_editteam01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,96}</string>
                <key>spriteSourceSize</key>
                <string>{175,96}</string>
                <key>textureRect</key>
                <string>{{1135,983},{175,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mercenary_editteam02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,96}</string>
                <key>spriteSourceSize</key>
                <string>{175,96}</string>
                <key>textureRect</key>
                <string>{{1638,558},{175,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mercenary_editteam03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,96}</string>
                <key>spriteSourceSize</key>
                <string>{175,96}</string>
                <key>textureRect</key>
                <string>{{1658,656},{175,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mercenary_editteam04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,96}</string>
                <key>spriteSourceSize</key>
                <string>{175,96}</string>
                <key>textureRect</key>
                <string>{{1686,754},{175,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mercenary_editteam05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,96}</string>
                <key>spriteSourceSize</key>
                <string>{175,96}</string>
                <key>textureRect</key>
                <string>{{1708,852},{175,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mercenary_editteam_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,33}</string>
                <key>spriteSourceSize</key>
                <string>{45,33}</string>
                <key>textureRect</key>
                <string>{{1887,343},{45,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mercenary_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1736,253},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mercenary_press2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1302,790},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mercenary_spilt_addPic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{1887,1030},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_bar_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,14}</string>
                <key>spriteSourceSize</key>
                <string>{27,14}</string>
                <key>textureRect</key>
                <string>{{1715,428},{27,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip_bar_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,8}</string>
                <key>spriteSourceSize</key>
                <string>{21,8}</string>
                <key>textureRect</key>
                <string>{{1,1080},{21,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GroupPage0.png</string>
            <key>size</key>
            <string>{1945,1096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17d95b95764452207f7debb5e0d2946d:b40580e4194af915dccfe9873e5ffd39:37f840e0afe15d5ecae88ee0ac1565de$</string>
            <key>textureFileName</key>
            <string>GroupPage0.png</string>
        </dict>
    </dict>
</plist>
