<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ArenaLobby2_label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,66}</string>
                <key>spriteSourceSize</key>
                <string>{208,66}</string>
                <key>textureRect</key>
                <string>{{1839,1172},{208,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArenaLobby2_label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,63}</string>
                <key>spriteSourceSize</key>
                <string>{161,63}</string>
                <key>textureRect</key>
                <string>{{1358,1678},{161,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coliseum_Label3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,75}</string>
                <key>spriteSourceSize</key>
                <string>{260,75}</string>
                <key>textureRect</key>
                <string>{{1787,1569},{260,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_Monthly_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,361}</string>
                <key>spriteSourceSize</key>
                <string>{279,361}</string>
                <key>textureRect</key>
                <string>{{353,1637},{279,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_Weekly_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,361}</string>
                <key>spriteSourceSize</key>
                <string>{279,361}</string>
                <key>textureRect</key>
                <string>{{634,1678},{279,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_daily_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,361}</string>
                <key>spriteSourceSize</key>
                <string>{279,361}</string>
                <key>textureRect</key>
                <string>{{915,1678},{279,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,383}</string>
                <key>spriteSourceSize</key>
                <string>{601,383}</string>
                <key>textureRect</key>
                <string>{{616,1203},{601,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1380,1},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1380,196},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1,984},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1351,977},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{616,1008},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1,1179},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,141}</string>
                <key>spriteSourceSize</key>
                <string>{606,141}</string>
                <key>textureRect</key>
                <string>{{1231,1172},{606,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,279}</string>
                <key>spriteSourceSize</key>
                <string>{683,279}</string>
                <key>textureRect</key>
                <string>{{695,1},{683,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FirstRecharge_title01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,405}</string>
                <key>spriteSourceSize</key>
                <string>{350,405}</string>
                <key>textureRect</key>
                <string>{{1,1637},{350,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Free 888 Summons_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,228}</string>
                <key>spriteSourceSize</key>
                <string>{568,228}</string>
                <key>textureRect</key>
                <string>{{1219,1315},{568,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GuildLobby_Label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,65}</string>
                <key>spriteSourceSize</key>
                <string>{208,65}</string>
                <key>textureRect</key>
                <string>{{1839,1240},{208,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GuildLobby_Label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,66}</string>
                <key>spriteSourceSize</key>
                <string>{160,66}</string>
                <key>textureRect</key>
                <string>{{1196,1678},{160,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Levekup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{571,71}</string>
                <key>spriteSourceSize</key>
                <string>{571,71}</string>
                <key>textureRect</key>
                <string>{{1,1564},{571,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_BannerA001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,101}</string>
                <key>spriteSourceSize</key>
                <string>{258,101}</string>
                <key>textureRect</key>
                <string>{{1789,1363},{258,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_BannerA002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,101}</string>
                <key>spriteSourceSize</key>
                <string>{258,101}</string>
                <key>textureRect</key>
                <string>{{1789,1466},{258,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_BannerA003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,101}</string>
                <key>spriteSourceSize</key>
                <string>{258,101}</string>
                <key>textureRect</key>
                <string>{{1787,1646},{258,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{676,583},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1351,693},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{676,725},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1,842},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Banner_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,139}</string>
                <key>spriteSourceSize</key>
                <string>{673,139}</string>
                <key>textureRect</key>
                <string>{{676,867},{673,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_RaidBoss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,140}</string>
                <key>spriteSourceSize</key>
                <string>{673,140}</string>
                <key>textureRect</key>
                <string>{{1351,835},{673,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MiningIAP_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,81}</string>
                <key>spriteSourceSize</key>
                <string>{236,81}</string>
                <key>textureRect</key>
                <string>{{634,1588},{236,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MiningLayerDrops_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,81}</string>
                <key>spriteSourceSize</key>
                <string>{236,81}</string>
                <key>textureRect</key>
                <string>{{872,1588},{236,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MonthlyCard_Text2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,95}</string>
                <key>spriteSourceSize</key>
                <string>{288,95}</string>
                <key>textureRect</key>
                <string>{{1722,1749},{288,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MonthlyCard_Text3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{692,235}</string>
                <key>spriteSourceSize</key>
                <string>{692,235}</string>
                <key>textureRect</key>
                <string>{{1,1},{692,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RarityUP_Success.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{571,76}</string>
                <key>spriteSourceSize</key>
                <string>{571,76}</string>
                <key>textureRect</key>
                <string>{{1,1486},{571,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RechargeBounce_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,277}</string>
                <key>spriteSourceSize</key>
                <string>{524,277}</string>
                <key>textureRect</key>
                <string>{{1196,1749},{524,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SecretMessage_Getpic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,54}</string>
                <key>spriteSourceSize</key>
                <string>{197,54}</string>
                <key>textureRect</key>
                <string>{{1839,1307},{197,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle 01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,300}</string>
                <key>spriteSourceSize</key>
                <string>{674,300}</string>
                <key>textureRect</key>
                <string>{{1,238},{674,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle 02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,299}</string>
                <key>spriteSourceSize</key>
                <string>{674,299}</string>
                <key>textureRect</key>
                <string>{{677,282},{674,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle 03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,300}</string>
                <key>spriteSourceSize</key>
                <string>{673,300}</string>
                <key>textureRect</key>
                <string>{{1,540},{673,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Subscription_Bundle 04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,300}</string>
                <key>spriteSourceSize</key>
                <string>{673,300}</string>
                <key>textureRect</key>
                <string>{{1353,391},{673,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_BannerB001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,171}</string>
                <key>spriteSourceSize</key>
                <string>{237,171}</string>
                <key>textureRect</key>
                <string>{{1722,1846},{237,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_192_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{566,131}</string>
                <key>spriteSourceSize</key>
                <string>{566,131}</string>
                <key>textureRect</key>
                <string>{{1219,1545},{566,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{593,110}</string>
                <key>spriteSourceSize</key>
                <string>{593,110}</string>
                <key>textureRect</key>
                <string>{{1,1374},{593,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>i18n_Banner0.png</string>
            <key>size</key>
            <string>{2048,2043}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c16d6e323e659e3b9f25dc8cd956e09:46ab1e62795f7c2d6644b504b448e1e9:b138899fe85a7e0e2af8f626b5194988$</string>
            <key>textureFileName</key>
            <string>i18n_Banner0.png</string>
        </dict>
    </dict>
</plist>
