<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Album_Name02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,78}</string>
                <key>spriteSourceSize</key>
                <string>{250,78}</string>
                <key>textureRect</key>
                <string>{{335,893},{250,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,73}</string>
                <key>spriteSourceSize</key>
                <string>{246,73}</string>
                <key>textureRect</key>
                <string>{{573,1003},{246,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,64}</string>
                <key>spriteSourceSize</key>
                <string>{181,64}</string>
                <key>textureRect</key>
                <string>{{798,723},{181,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,81}</string>
                <key>spriteSourceSize</key>
                <string>{188,81}</string>
                <key>textureRect</key>
                <string>{{608,706},{188,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,77}</string>
                <key>spriteSourceSize</key>
                <string>{184,77}</string>
                <key>textureRect</key>
                <string>{{798,565},{184,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,70}</string>
                <key>spriteSourceSize</key>
                <string>{177,70}</string>
                <key>textureRect</key>
                <string>{{1,1249},{177,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,77}</string>
                <key>spriteSourceSize</key>
                <string>{184,77}</string>
                <key>textureRect</key>
                <string>{{798,644},{184,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,69}</string>
                <key>spriteSourceSize</key>
                <string>{129,69}</string>
                <key>textureRect</key>
                <string>{{180,1249},{129,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,74}</string>
                <key>spriteSourceSize</key>
                <string>{240,74}</string>
                <key>textureRect</key>
                <string>{{573,1078},{240,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArenaLobby2_label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,63}</string>
                <key>spriteSourceSize</key>
                <string>{161,63}</string>
                <key>textureRect</key>
                <string>{{567,1236},{161,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coliseum_Label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,78}</string>
                <key>spriteSourceSize</key>
                <string>{261,78}</string>
                <key>textureRect</key>
                <string>{{398,168},{261,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coliseum_Label3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,75}</string>
                <key>spriteSourceSize</key>
                <string>{260,75}</string>
                <key>textureRect</key>
                <string>{{358,816},{260,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coliseum_Label4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,73}</string>
                <key>spriteSourceSize</key>
                <string>{248,73}</string>
                <key>textureRect</key>
                <string>{{587,928},{248,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FragmentsBundle1_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,192}</string>
                <key>spriteSourceSize</key>
                <string>{403,192}</string>
                <key>textureRect</key>
                <string>{{1,1},{395,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FragmentsBundle3_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{387,184}</string>
                <key>spriteSourceSize</key>
                <string>{403,192}</string>
                <key>textureRect</key>
                <string>{{1,195},{387,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GuildLobby_Label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,66}</string>
                <key>spriteSourceSize</key>
                <string>{160,66}</string>
                <key>textureRect</key>
                <string>{{311,1253},{160,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_BannerE001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,155}</string>
                <key>spriteSourceSize</key>
                <string>{355,155}</string>
                <key>textureRect</key>
                <string>{{1,520},{355,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_BannerE003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,155}</string>
                <key>spriteSourceSize</key>
                <string>{355,155}</string>
                <key>textureRect</key>
                <string>{{1,677},{355,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MiningQuest_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,80}</string>
                <key>spriteSourceSize</key>
                <string>{236,80}</string>
                <key>textureRect</key>
                <string>{{567,1154},{236,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NewHeroJ_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,165}</string>
                <key>spriteSourceSize</key>
                <string>{353,165}</string>
                <key>textureRect</key>
                <string>{{398,1},{353,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Power Achievement_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,137}</string>
                <key>spriteSourceSize</key>
                <string>{378,137}</string>
                <key>textureRect</key>
                <string>{{1,381},{378,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,0}</string>
                <key>spriteSize</key>
                <string>{238,135}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{631,428},{238,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-2}</string>
                <key>spriteSize</key>
                <string>{248,139}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{381,393},{248,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-2}</string>
                <key>spriteSize</key>
                <string>{188,141}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{753,1},{188,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-2}</string>
                <key>spriteSize</key>
                <string>{188,139}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{608,565},{188,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-4}</string>
                <key>spriteSize</key>
                <string>{248,143}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{390,248},{248,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-2}</string>
                <key>spriteSize</key>
                <string>{188,141}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{753,144},{188,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_10101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{320,135}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1,973},{320,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_10701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-4}</string>
                <key>spriteSize</key>
                <string>{248,135}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{323,973},{248,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_10801.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-7}</string>
                <key>spriteSize</key>
                <string>{246,141}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{319,1110},{246,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_10901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-7}</string>
                <key>spriteSize</key>
                <string>{240,139}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{640,287},{240,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_11001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{332,137}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1,834},{332,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_11701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-6}</string>
                <key>spriteSize</key>
                <string>{316,137}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1,1110},{316,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_11901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-88,-4}</string>
                <key>spriteSize</key>
                <string>{154,135}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{821,1003},{154,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_12001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,-5}</string>
                <key>spriteSize</key>
                <string>{174,137}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{620,789},{174,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_12101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-6}</string>
                <key>spriteSize</key>
                <string>{248,139}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{358,534},{248,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_12201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,-5}</string>
                <key>spriteSize</key>
                <string>{168,135}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{796,789},{168,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_12301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,-7}</string>
                <key>spriteSize</key>
                <string>{164,141}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{805,1154},{164,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_12401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-7}</string>
                <key>spriteSize</key>
                <string>{248,139}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{358,675},{248,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>i18n_cn_Banner3.png</string>
            <key>size</key>
            <string>{983,1320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f80b6b198a79d2b1d1bfc4647a2333f:900770c4a79c624f4237efbdcee15d30:465fb42245b3175b02730448c72aa5f3$</string>
            <key>textureFileName</key>
            <string>i18n_cn_Banner3.png</string>
        </dict>
    </dict>
</plist>
