<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Event001_Entey_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,334}</string>
                <key>spriteSourceSize</key>
                <string>{338,334}</string>
                <key>textureRect</key>
                <string>{{681,633},{338,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Entey_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,334}</string>
                <key>spriteSourceSize</key>
                <string>{338,334}</string>
                <key>textureRect</key>
                <string>{{1021,633},{338,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Hard _N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1855,288},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Hard _S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1699,434},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Img05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{1861,508},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Memory_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,182}</string>
                <key>spriteSourceSize</key>
                <string>{182,182}</string>
                <key>textureRect</key>
                <string>{{1797,781},{182,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Memory_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,183}</string>
                <key>spriteSourceSize</key>
                <string>{183,183}</string>
                <key>textureRect</key>
                <string>{{1585,978},{183,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Normal _N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1861,398},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Normal _S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1181,1186},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Shop_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,182}</string>
                <key>spriteSourceSize</key>
                <string>{182,182}</string>
                <key>textureRect</key>
                <string>{{1770,978},{182,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Shop_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,183}</string>
                <key>spriteSourceSize</key>
                <string>{183,183}</string>
                <key>textureRect</key>
                <string>{{996,1310},{183,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Task_N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,182}</string>
                <key>spriteSourceSize</key>
                <string>{182,182}</string>
                <key>textureRect</key>
                <string>{{1774,1162},{182,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Task_S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,183}</string>
                <key>spriteSourceSize</key>
                <string>{183,183}</string>
                <key>textureRect</key>
                <string>{{1797,596},{183,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,172}</string>
                <key>spriteSourceSize</key>
                <string>{485,172}</string>
                <key>textureRect</key>
                <string>{{1212,434},{485,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_mission_img8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{683,531}</string>
                <key>spriteSourceSize</key>
                <string>{683,531}</string>
                <key>textureRect</key>
                <string>{{1,1},{683,531}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event001_mission_img9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,171}</string>
                <key>spriteSourceSize</key>
                <string>{323,171}</string>
                <key>textureRect</key>
                <string>{{671,1310},{323,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Hard _1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,79}</string>
                <key>spriteSourceSize</key>
                <string>{207,79}</string>
                <key>textureRect</key>
                <string>{{1550,1288},{207,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Hard _2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,79}</string>
                <key>spriteSourceSize</key>
                <string>{207,79}</string>
                <key>textureRect</key>
                <string>{{1594,1456},{207,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Hard _3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,80}</string>
                <key>spriteSourceSize</key>
                <string>{207,80}</string>
                <key>textureRect</key>
                <string>{{1358,1142},{207,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Label1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,111}</string>
                <key>spriteSourceSize</key>
                <string>{300,111}</string>
                <key>textureRect</key>
                <string>{{671,1606},{300,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,105}</string>
                <key>spriteSourceSize</key>
                <string>{125,105}</string>
                <key>textureRect</key>
                <string>{{1789,1656},{125,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Label3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,120}</string>
                <key>spriteSourceSize</key>
                <string>{198,120}</string>
                <key>textureRect</key>
                <string>{{1190,1486},{198,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Label4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,162}</string>
                <key>spriteSourceSize</key>
                <string>{225,162}</string>
                <key>textureRect</key>
                <string>{{1358,978},{225,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Label5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,110}</string>
                <key>spriteSourceSize</key>
                <string>{202,110}</string>
                <key>textureRect</key>
                <string>{{1390,1474},{202,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Normal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,79}</string>
                <key>spriteSourceSize</key>
                <string>{207,79}</string>
                <key>textureRect</key>
                <string>{{1594,1537},{207,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Normal_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,79}</string>
                <key>spriteSourceSize</key>
                <string>{207,79}</string>
                <key>textureRect</key>
                <string>{{1580,1618},{207,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Normal_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,79}</string>
                <key>spriteSourceSize</key>
                <string>{207,79}</string>
                <key>textureRect</key>
                <string>{{1580,1699},{207,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Text1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,103}</string>
                <key>spriteSourceSize</key>
                <string>{174,103}</string>
                <key>textureRect</key>
                <string>{{1796,1346},{174,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,117}</string>
                <key>spriteSourceSize</key>
                <string>{202,117}</string>
                <key>textureRect</key>
                <string>{{1217,1608},{202,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{678,446}</string>
                <key>spriteSourceSize</key>
                <string>{678,446}</string>
                <key>textureRect</key>
                <string>{{1,534},{678,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event002_clear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{1861,508},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event01_Img_Card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,183}</string>
                <key>spriteSourceSize</key>
                <string>{434,183}</string>
                <key>textureRect</key>
                <string>{{1361,608},{434,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event03_Btn_Enter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,215}</string>
                <key>spriteSourceSize</key>
                <string>{206,215}</string>
                <key>textureRect</key>
                <string>{{1150,969},{206,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event03_Btn_Mission.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,87}</string>
                <key>spriteSourceSize</key>
                <string>{157,87}</string>
                <key>textureRect</key>
                <string>{{1421,1586},{157,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event03_Btn_Stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,87}</string>
                <key>spriteSourceSize</key>
                <string>{157,87}</string>
                <key>textureRect</key>
                <string>{{1421,1675},{157,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event03_Btn_Story.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,65}</string>
                <key>spriteSourceSize</key>
                <string>{138,65}</string>
                <key>textureRect</key>
                <string>{{1803,1589},{138,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event03_Img_Card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,183}</string>
                <key>spriteSourceSize</key>
                <string>{434,183}</string>
                <key>textureRect</key>
                <string>{{1361,793},{434,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event03_Img_MemuLabel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,121}</string>
                <key>spriteSourceSize</key>
                <string>{310,121}</string>
                <key>textureRect</key>
                <string>{{671,1483},{310,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Event03_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,236}</string>
                <key>spriteSourceSize</key>
                <string>{524,236}</string>
                <key>textureRect</key>
                <string>{{686,395},{524,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_Title_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{499,144}</string>
                <key>spriteSourceSize</key>
                <string>{499,144}</string>
                <key>textureRect</key>
                <string>{{1354,288},{499,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{983,1495},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{1567,1163},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn04_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,136}</string>
                <key>spriteSourceSize</key>
                <string>{139,136}</string>
                <key>textureRect</key>
                <string>{{1181,1348},{139,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn04_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,136}</string>
                <key>spriteSourceSize</key>
                <string>{139,136}</string>
                <key>textureRect</key>
                <string>{{1803,1451},{139,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn06_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{1343,1224},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_btn06_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,123}</string>
                <key>spriteSourceSize</key>
                <string>{205,123}</string>
                <key>textureRect</key>
                <string>{{1322,1349},{205,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,119}</string>
                <key>spriteSourceSize</key>
                <string>{397,119}</string>
                <key>textureRect</key>
                <string>{{671,1189},{397,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,54}</string>
                <key>spriteSourceSize</key>
                <string>{180,54}</string>
                <key>textureRect</key>
                <string>{{1,1728},{180,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,54}</string>
                <key>spriteSourceSize</key>
                <string>{180,54}</string>
                <key>textureRect</key>
                <string>{{183,1728},{180,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,31}</string>
                <key>spriteSourceSize</key>
                <string>{102,31}</string>
                <key>textureRect</key>
                <string>{{365,1728},{102,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,94}</string>
                <key>spriteSourceSize</key>
                <string>{445,94}</string>
                <key>textureRect</key>
                <string>{{671,1093},{445,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,85}</string>
                <key>spriteSourceSize</key>
                <string>{265,85}</string>
                <key>textureRect</key>
                <string>{{1529,1369},{265,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,92}</string>
                <key>spriteSourceSize</key>
                <string>{242,92}</string>
                <key>textureRect</key>
                <string>{{973,1620},{242,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GloryHole_img_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,34}</string>
                <key>spriteSourceSize</key>
                <string>{132,34}</string>
                <key>textureRect</key>
                <string>{{1212,395},{132,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img_fever.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{666,105}</string>
                <key>spriteSourceSize</key>
                <string>{666,105}</string>
                <key>textureRect</key>
                <string>{{686,288},{666,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Bar_Img_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{467,122}</string>
                <key>spriteSourceSize</key>
                <string>{467,122}</string>
                <key>textureRect</key>
                <string>{{681,969},{467,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Combo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,64}</string>
                <key>spriteSourceSize</key>
                <string>{227,64}</string>
                <key>textureRect</key>
                <string>{{973,1714},{227,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,744}</string>
                <key>spriteSourceSize</key>
                <string>{333,744}</string>
                <key>textureRect</key>
                <string>{{1,982},{333,744}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,744}</string>
                <key>spriteSourceSize</key>
                <string>{333,744}</string>
                <key>textureRect</key>
                <string>{{336,982},{333,744}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,285}</string>
                <key>spriteSourceSize</key>
                <string>{624,285}</string>
                <key>textureRect</key>
                <string>{{686,1},{624,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gloryhole_Ranking_img9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,285}</string>
                <key>spriteSourceSize</key>
                <string>{624,285}</string>
                <key>textureRect</key>
                <string>{{1312,1},{624,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>i18n_tw_Event0.png</string>
            <key>size</key>
            <string>{1981,1783}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7349ea2b37b5a449cec58c6f88f55378:1229df20c5f12d3e1179a4b855f1987b:3b1619cabb569396a62e462b26fcb7fc$</string>
            <key>textureFileName</key>
            <string>i18n_tw_Event0.png</string>
        </dict>
    </dict>
</plist>
