<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Album_Name07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,71}</string>
                <key>spriteSourceSize</key>
                <string>{189,71}</string>
                <key>textureRect</key>
                <string>{{1846,1},{189,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,77}</string>
                <key>spriteSourceSize</key>
                <string>{184,77}</string>
                <key>textureRect</key>
                <string>{{1846,215},{184,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,70}</string>
                <key>spriteSourceSize</key>
                <string>{177,70}</string>
                <key>textureRect</key>
                <string>{{1846,373},{177,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,77}</string>
                <key>spriteSourceSize</key>
                <string>{184,77}</string>
                <key>textureRect</key>
                <string>{{1846,294},{184,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Album_Name17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,74}</string>
                <key>spriteSourceSize</key>
                <string>{240,74}</string>
                <key>textureRect</key>
                <string>{{1805,1281},{240,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ArenaLobby2_label2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,63}</string>
                <key>spriteSourceSize</key>
                <string>{161,63}</string>
                <key>textureRect</key>
                <string>{{917,1984},{161,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CalendarN_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,229}</string>
                <key>spriteSourceSize</key>
                <string>{396,229}</string>
                <key>textureRect</key>
                <string>{{1410,1781},{396,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBundle_img03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,191}</string>
                <key>spriteSourceSize</key>
                <string>{331,191}</string>
                <key>textureRect</key>
                <string>{{1473,976},{331,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_Img1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,170}</string>
                <key>spriteSourceSize</key>
                <string>{328,170}</string>
                <key>textureRect</key>
                <string>{{527,983},{328,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_Img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,170}</string>
                <key>spriteSourceSize</key>
                <string>{328,170}</string>
                <key>textureRect</key>
                <string>{{527,1155},{328,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1,1},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{616,1},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1231,1},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1,196},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{616,196},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1231,196},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1,391},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{616,391},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1231,391},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1197,586},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{1192,781},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{858,976},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{857,1171},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{836,1366},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_banner017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,193}</string>
                <key>spriteSourceSize</key>
                <string>{613,193}</string>
                <key>textureRect</key>
                <string>{{830,1561},{613,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Free 888 Summons_Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,228}</string>
                <key>spriteSourceSize</key>
                <string>{568,228}</string>
                <key>textureRect</key>
                <string>{{1472,1357},{568,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Free 888 Summons_Text2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,242}</string>
                <key>spriteSourceSize</key>
                <string>{530,242}</string>
                <key>textureRect</key>
                <string>{{385,1772},{530,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Growth_TowerVer2_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,294}</string>
                <key>spriteSourceSize</key>
                <string>{312,294}</string>
                <key>textureRect</key>
                <string>{{1,719},{312,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Growth_Tower_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,254}</string>
                <key>spriteSourceSize</key>
                <string>{382,254}</string>
                <key>textureRect</key>
                <string>{{1,1772},{382,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeroSummon_Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{553,192}</string>
                <key>spriteSourceSize</key>
                <string>{553,192}</string>
                <key>textureRect</key>
                <string>{{1445,1587},{553,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MiningIAP_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,81}</string>
                <key>spriteSourceSize</key>
                <string>{236,81}</string>
                <key>textureRect</key>
                <string>{{1808,1781},{236,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MiningLayerDrops_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,81}</string>
                <key>spriteSourceSize</key>
                <string>{236,81}</string>
                <key>textureRect</key>
                <string>{{1808,1864},{236,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MiningQuest_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,80}</string>
                <key>spriteSourceSize</key>
                <string>{236,80}</string>
                <key>textureRect</key>
                <string>{{1808,1947},{236,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoneyCollection_img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,226}</string>
                <key>spriteSourceSize</key>
                <string>{491,226}</string>
                <key>textureRect</key>
                <string>{{917,1756},{491,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RechargeBounce_Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,277}</string>
                <key>spriteSourceSize</key>
                <string>{524,277}</string>
                <key>textureRect</key>
                <string>{{1,1015},{524,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,0}</string>
                <key>spriteSize</key>
                <string>{238,135}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1807,856},{238,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-5}</string>
                <key>spriteSize</key>
                <string>{246,145}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{511,1603},{246,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-4}</string>
                <key>spriteSize</key>
                <string>{240,145}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1806,993},{240,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-2}</string>
                <key>spriteSize</key>
                <string>{188,139}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1846,74},{188,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_10101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{320,135}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{514,1327},{320,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_10201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{330,139}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1473,1169},{330,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_10401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{332,137}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{858,698},{332,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_10501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-2}</string>
                <key>spriteSize</key>
                <string>{238,131}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{362,586},{238,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_10901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-7}</string>
                <key>spriteSize</key>
                <string>{240,139}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1806,1140},{240,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_11001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{332,137}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{858,837},{332,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_11101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-4}</string>
                <key>spriteSize</key>
                <string>{232,135}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1812,719},{232,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_11701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-6}</string>
                <key>spriteSize</key>
                <string>{316,137}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{512,1464},{316,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_11801.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,-4}</string>
                <key>spriteSize</key>
                <string>{174,133}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1846,584},{174,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SummonPickup_Label_12001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,-5}</string>
                <key>spriteSize</key>
                <string>{174,137}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{1846,445},{174,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_132_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,208}</string>
                <key>spriteSourceSize</key>
                <string>{508,208}</string>
                <key>textureRect</key>
                <string>{{1,1562},{508,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_151_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,131}</string>
                <key>spriteSourceSize</key>
                <string>{359,131}</string>
                <key>textureRect</key>
                <string>{{1,586},{359,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_170_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,132}</string>
                <key>spriteSourceSize</key>
                <string>{511,132}</string>
                <key>textureRect</key>
                <string>{{1,1294},{511,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_171_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,132}</string>
                <key>spriteSourceSize</key>
                <string>{509,132}</string>
                <key>textureRect</key>
                <string>{{1,1428},{509,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popsale_200_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{541,262}</string>
                <key>spriteSourceSize</key>
                <string>{541,262}</string>
                <key>textureRect</key>
                <string>{{315,719},{541,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{593,110}</string>
                <key>spriteSourceSize</key>
                <string>{593,110}</string>
                <key>textureRect</key>
                <string>{{602,586},{593,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>i18n_cn_Banner2.png</string>
            <key>size</key>
            <string>{2047,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5ca3217afc0d729b5aba5cb11da16f5:08557fff185a4675386d2bfc45134e97:465fb42245b3175b02730448c72aa5f3$</string>
            <key>textureFileName</key>
            <string>i18n_cn_Banner2.png</string>
        </dict>
    </dict>
</plist>
