<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EventNews_Btn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{59,61}</string>
                <key>textureRect</key>
                <string>{{876,1091},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_Btn1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{900,1},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_Btn1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{899,704},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EventNews_Img3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{613,83}</string>
                <key>spriteSourceSize</key>
                <string>{613,83}</string>
                <key>textureRect</key>
                <string>{{1,1116},{613,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{909,520},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{907,1207},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,33}</string>
                <key>spriteSourceSize</key>
                <string>{43,33}</string>
                <key>textureRect</key>
                <string>{{909,598},{43,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{909,479},{42,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_BannerA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,101}</string>
                <key>spriteSourceSize</key>
                <string>{258,101}</string>
                <key>textureRect</key>
                <string>{{616,1116},{258,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_BannerB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,111}</string>
                <key>spriteSourceSize</key>
                <string>{237,111}</string>
                <key>textureRect</key>
                <string>{{703,785},{237,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_Btn14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,28}</string>
                <key>spriteSourceSize</key>
                <string>{35,28}</string>
                <key>textureRect</key>
                <string>{{782,496},{35,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_Img1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,112}</string>
                <key>spriteSourceSize</key>
                <string>{91,112}</string>
                <key>textureRect</key>
                <string>{{782,382},{91,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_Img2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,525}</string>
                <key>spriteSourceSize</key>
                <string>{77,525}</string>
                <key>textureRect</key>
                <string>{{703,1},{77,525}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_Img3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{77,32}</string>
                <key>textureRect</key>
                <string>{{523,1264},{77,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_Img4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,25}</string>
                <key>spriteSourceSize</key>
                <string>{47,25}</string>
                <key>textureRect</key>
                <string>{{876,1278},{47,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_Img5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,46}</string>
                <key>spriteSourceSize</key>
                <string>{194,46}</string>
                <key>textureRect</key>
                <string>{{613,1237},{194,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LobbyBtn_Img6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,39}</string>
                <key>spriteSourceSize</key>
                <string>{65,39}</string>
                <key>textureRect</key>
                <string>{{875,438},{65,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_ChatIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{935,1075},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Chatbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,28}</string>
                <key>spriteSourceSize</key>
                <string>{52,28}</string>
                <key>textureRect</key>
                <string>{{903,916},{52,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Page_A0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{935,1099},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_Page_A1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{925,1284},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_bar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,16}</string>
                <key>spriteSourceSize</key>
                <string>{200,16}</string>
                <key>textureRect</key>
                <string>{{703,898},{200,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_bar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,14}</string>
                <key>spriteSourceSize</key>
                <string>{193,14}</string>
                <key>textureRect</key>
                <string>{{723,1075},{193,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_bar3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,16}</string>
                <key>spriteSourceSize</key>
                <string>{198,16}</string>
                <key>textureRect</key>
                <string>{{703,916},{198,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_barA1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,16}</string>
                <key>spriteSourceSize</key>
                <string>{203,16}</string>
                <key>textureRect</key>
                <string>{{613,1219},{203,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_barA2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,12}</string>
                <key>spriteSourceSize</key>
                <string>{196,12}</string>
                <key>textureRect</key>
                <string>{{703,934},{196,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_barA3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,16}</string>
                <key>spriteSourceSize</key>
                <string>{201,16}</string>
                <key>textureRect</key>
                <string>{{602,1285},{201,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lobby_iconPower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,36}</string>
                <key>spriteSourceSize</key>
                <string>{35,36}</string>
                <key>textureRect</key>
                <string>{{909,560},{35,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,159}</string>
                <key>spriteSourceSize</key>
                <string>{720,159}</string>
                <key>textureRect</key>
                <string>{{1,955},{720,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_Img7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,102}</string>
                <key>spriteSourceSize</key>
                <string>{442,102}</string>
                <key>textureRect</key>
                <string>{{1,1201},{442,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,127}</string>
                <key>spriteSourceSize</key>
                <string>{118,127}</string>
                <key>textureRect</key>
                <string>{{703,528},{118,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,126}</string>
                <key>spriteSourceSize</key>
                <string>{118,126}</string>
                <key>textureRect</key>
                <string>{{703,657},{118,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,55}</string>
                <key>spriteSourceSize</key>
                <string>{72,55}</string>
                <key>textureRect</key>
                <string>{{876,1150},{72,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,37}</string>
                <key>spriteSourceSize</key>
                <string>{74,37}</string>
                <key>textureRect</key>
                <string>{{823,720},{74,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,23}</string>
                <key>spriteSourceSize</key>
                <string>{65,23}</string>
                <key>textureRect</key>
                <string>{{809,1278},{65,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,82}</string>
                <key>textureRect</key>
                <string>{{823,496},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,82}</string>
                <key>textureRect</key>
                <string>{{823,580},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{875,382},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{925,1250},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{823,664},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{900,54},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn4_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,61}</string>
                <key>spriteSourceSize</key>
                <string>{76,61}</string>
                <key>textureRect</key>
                <string>{{535,1201},{76,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn4_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,38}</string>
                <key>spriteSourceSize</key>
                <string>{69,38}</string>
                <key>textureRect</key>
                <string>{{879,664},{69,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn4_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,43}</string>
                <key>spriteSourceSize</key>
                <string>{76,43}</string>
                <key>textureRect</key>
                <string>{{445,1259},{76,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn5_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,57}</string>
                <key>spriteSourceSize</key>
                <string>{87,57}</string>
                <key>textureRect</key>
                <string>{{818,1219},{87,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_btn5_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,56}</string>
                <key>spriteSourceSize</key>
                <string>{88,56}</string>
                <key>textureRect</key>
                <string>{{445,1201},{88,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,125}</string>
                <key>spriteSourceSize</key>
                <string>{116,125}</string>
                <key>textureRect</key>
                <string>{{723,948},{116,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,125}</string>
                <key>spriteSourceSize</key>
                <string>{116,125}</string>
                <key>textureRect</key>
                <string>{{841,948},{116,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_icon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,125}</string>
                <key>spriteSourceSize</key>
                <string>{116,125}</string>
                <key>textureRect</key>
                <string>{{782,1},{116,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_icon4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,125}</string>
                <key>spriteSourceSize</key>
                <string>{116,125}</string>
                <key>textureRect</key>
                <string>{{782,128},{116,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Main_icon5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,125}</string>
                <key>spriteSourceSize</key>
                <string>{116,125}</string>
                <key>textureRect</key>
                <string>{{782,255},{116,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mission_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,952}</string>
                <key>spriteSourceSize</key>
                <string>{700,952}</string>
                <key>textureRect</key>
                <string>{{1,1},{700,952}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MainPage010.png</string>
            <key>size</key>
            <string>{958,1304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f372690d1c7874a62a3866485d7f14ab:6ee47731b12c6574a2995203efbe92dd:178fc0aceecc7ddf8d6bbdbd3a08104a$</string>
            <key>textureFileName</key>
            <string>MainPage010.png</string>
        </dict>
    </dict>
</plist>
