<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RaidBoss_icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,93}</string>
                <key>spriteSourceSize</key>
                <string>{95,93}</string>
                <key>textureRect</key>
                <string>{{1102,1},{95,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RaidBoss_icon_no1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{723,142},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RaidBoss_icon_no2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{758,142},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RaidBoss_icon_no3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{793,142},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RaidBoss_img_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,173}</string>
                <key>spriteSourceSize</key>
                <string>{720,173}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RaidBoss_img_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{976,1},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RaidBoss_img_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,139}</string>
                <key>spriteSourceSize</key>
                <string>{251,139}</string>
                <key>textureRect</key>
                <string>{{723,1},{251,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>WorldBoss0.png</string>
            <key>size</key>
            <string>{1198,175}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:139baee1fd8a9d4750824f6ba9deb86c:8749c59e912ec32f1892d2e6873bdc05:6ab2dfb41bf8ef8f2e73a8ce9f2456a5$</string>
            <key>textureFileName</key>
            <string>WorldBoss0.png</string>
        </dict>
    </dict>
</plist>
