<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>picture</key>
	<string>http://cache01.com4loves.com/gjabd/android_R2Game_en/2.147/icon.png</string>
	<key>link</key>
	<string>http://ezpzrpg.r2games.com</string>
	<key>description</key>
	<string>Prepare yourself for TRIBAL RUSH – true mobile strategy where survival is only the beginning!</string>
	<key>caption</key>
	<string>Tribal strategy on the go, only from R2Games.</string>
	<key>name</key>
	<string>Join the Battle in Tribal Rush, Free!</string>
</dict>
</plist>
