<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conversionID</key>
	<string>957775319</string>
	<key>conversionLabel</key>
	<string>tpKBCO-FmlkQ1_vZyAM</string>
	<key>CB_APPID</key>
	<string>54c0ab7904b01610806dbead</string>
	<key>R2GameID</key>
	<string>242</string>
	<key>Adjust_Token</key>
	<string>nqh95nretvbu</string>
	<key>Adjust_Open</key>
	<string>m0dzyy</string>
	<key>CB_APPSIGNATURE</key>
	<string>d3cfa1ff63e519990e906c2b9c204af8d2c03f06</string>
	<key>Flurry_APIKEY</key>
	<string></string>
	<key>Inmobi_Adtracker_APP_IN</key>
	<string></string>
	<key>R2Game</key>
	<string>EZPZan</string>
	<key>R2GCNotLinkedInfo</key>
	<string>You have logged into a new Game Center account. Would you like to create a new account and start from scratch?</string>
	<key>R2GCLinkedInfo</key>
	<string>This Game Center ID is already linked to another account. Do you want to switch to that account?</string>
	<key>R2GC_Cancel</key>
	<string>Cancel</string>
	<key>R2GC_OK</key>
	<string>OK</string>
</dict>
</plist>
